node-red-flow/.local.backup
[{"id":"e9342f4c.21ec7","type":"tab","label":"store","disabled":false,"info":""},{"id":"f7689df5.5ae1f","type":"tab","label":"data e agenda","disabled":false,"info":""},{"id":"c127b1bf.34f07","type":"tab","label":"BROKER","disabled":false,"info":""},{"id":"a0713f2c.db9fa","type":"tab","label":"LMM-TU-001","disabled":false,"info":""},{"id":"904cd9e2.a48308","type":"tab","label":"LMM-TU-002","disabled":false,"info":""},{"id":"81257762.afeda8","type":"tab","label":"LMM-TU-003","disabled":false,"info":""},{"id":"cc4023ba.86cb3","type":"tab","label":"LMM-TU-004","disabled":false,"info":""},{"id":"7f6eec64.97cd84","type":"tab","label":"LMM-TU-005","disabled":false,"info":""},{"id":"4d1905fd.220e4c","type":"tab","label":"calibração","disabled":true,"info":"flow responsável por visualização e aquisição dos dados quando os dispositivos estiverem em calibração"},{"id":"e6a1b1a9.c5e08","type":"tab","label":"alerta","disabled":false,"info":""},{"id":"33a52931.07ebd6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sensores de Umidade e Temperatura LMM","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"61cb9b6a.3d0754","type":"ui_group","z":"","name":"Relógio","tab":"15b817fe.6affd8","order":2,"disp":false,"width":"10","collapse":false},{"id":"73a51444.23794c","type":"ui_group","z":"","name":"Relógio","tab":"581da529.655ccc","order":2,"disp":false,"width":"7","collapse":false},{"id":"473d42ab.604c0c","type":"mqtt-broker","z":"","name":"BROKER003","broker":"127.0.0.1","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1069c24a.d2b42e","type":"mqtt-broker","z":"","name":"BROKER001","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f380a11.7a0aa4","type":"mqtt-broker","z":"","name":"BROKER002","broker":"127.0.0.1","port":"1885","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5c3885.0e52878","type":"mqtt-broker","z":"","name":"BROKER004","broker":"127.0.0.1","port":"1886","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a40a83ed.39261","type":"ui_group","z":"","name":"SENSOR_LMM-TU-001","tab":"eac471c.96ecd9","order":1,"disp":true,"width":9,"collapse":false},{"id":"a1150a10.e6b6e8","type":"ui_group","z":"","name":"Gráficos","tab":"eac471c.96ecd9","order":3,"disp":true,"width":10,"collapse":false},{"id":"ab00c15c.93934","type":"ui_group","z":"","name":"SENSOR_LMM-TU-002","tab":"32835042.59295","order":1,"disp":true,"width":9,"collapse":false},{"id":"44ba629e.1a9f7c","type":"ui_group","z":"","name":"Gráficos","tab":"32835042.59295","order":3,"disp":true,"width":10,"collapse":false},{"id":"1f453de2.e08e92","type":"ui_group","z":"","name":"SENSOR_LMM-TU-003","tab":"d9fb69cb.cec5a8","order":1,"disp":true,"width":9,"collapse":false},{"id":"d019f117.fced3","type":"ui_group","z":"","name":"Gráficos","tab":"d9fb69cb.cec5a8","order":3,"disp":true,"width":10,"collapse":false},{"id":"dbdca429.2441d8","type":"ui_group","z":"","name":"SENSOR_LMM-TU-004","tab":"15b817fe.6affd8","order":1,"disp":true,"width":9,"collapse":false},{"id":"566b21e.425f2e","type":"ui_group","z":"","name":"Gráficos","tab":"15b817fe.6affd8","order":3,"disp":true,"width":10,"collapse":false},{"id":"967d5891.f7c698","type":"ui_group","z":"","name":"SENSOR_LMM-TU-005","tab":"581da529.655ccc","order":1,"disp":true,"width":9,"collapse":false},{"id":"9f940219.7fae7","type":"ui_group","z":"","name":"Gráficos","tab":"581da529.655ccc","order":3,"disp":true,"width":10,"collapse":false},{"id":"1ceac82a.ea4218","type":"mqtt-broker","z":"","name":"BROKER005","broker":"127.0.0.1","port":"1887","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eac471c.96ecd9","type":"ui_tab","z":"","name":"Força","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"32835042.59295","type":"ui_tab","z":"","name":"Pressão","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d9fb69cb.cec5a8","type":"ui_tab","z":"","name":"Temperatura","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"15b817fe.6affd8","type":"ui_tab","z":"","name":"Dimensional","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"581da529.655ccc","type":"ui_tab","z":"","name":"LMM-TU-005","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"4a05820f.f626ac","type":"ui_group","z":"","name":"","tab":"eac471c.96ecd9","order":2,"disp":false,"width":"10","collapse":false},{"id":"915f3b06.fccb38","type":"ui_group","z":"","name":"Relógio","tab":"32835042.59295","order":2,"disp":false,"width":"10","collapse":false},{"id":"a59010fd.eff8e","type":"ui_group","z":"","name":"Relógio","tab":"d9fb69cb.cec5a8","order":2,"disp":false,"width":"10","collapse":false},{"id":"fc4bcf91.0db07","type":"ui_group","z":"4d1905fd.220e4c","name":"LMM-TU-001","tab":"d3054d9d.56321","order":1,"disp":true,"width":"5","collapse":false},{"id":"9ddf9f88.6af8c","type":"ui_group","z":"4d1905fd.220e4c","name":"LMM-TU-002","tab":"d3054d9d.56321","order":2,"disp":true,"width":"5","collapse":false},{"id":"62a83c07.1611a4","type":"ui_group","z":"4d1905fd.220e4c","name":"LMM-TU-003","tab":"d3054d9d.56321","order":3,"disp":true,"width":5,"collapse":false},{"id":"ed25a024.b7d27","type":"ui_group","z":"4d1905fd.220e4c","name":"LMM-TU-004","tab":"d3054d9d.56321","order":4,"disp":true,"width":5,"collapse":false},{"id":"f0b478fe.8291c8","type":"ui_group","z":"4d1905fd.220e4c","name":"botao de aquisição","tab":"d3054d9d.56321","order":5,"disp":false,"width":"20","collapse":false},{"id":"d3054d9d.56321","type":"ui_tab","z":"4d1905fd.220e4c","name":"Calibração de dispositivos","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"15d2166d.b093aa","type":"function","z":"f7689df5.5ae1f","name":"formatDate","func":"/*\nvar today=new Date().format('d-m-Y h:i:s');\n//var date = today.getFullYear()+'/'+today.getMonth()+'/'+today.getUTCDate()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes();\nvar date = today.getUTCDate()+'/'+today.getUTCMonth()+'/'+today.getFullYear()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes()+':'+today.getUTCSeconds();\nmsg.payload=date\nreturn msg;\n*/\n\n\nvar d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \nweekday: \"long\",\nday: '2-digit',\n//year:'numeric',\nmonth: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n\n};\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\nmsg.payload = _resultDate.replace(',','');\nreturn msg;\n\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\").replace(\"T\", \" \");\nreturn msg;\n*/\n\n/*\nmsg.payload = new Date (msg.payload).toString(16); \nreturn msg;\n*/\n\n//var now = new Date().toLocaleString();\n//return {payload: now};\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\");\nreturn msg;\n*/\n\n","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["a0b33225.41605","b938217d.7d90a","45a01ab9.1069f4","2a8281ad.0b05de","5fa99e61.b6bc3","b2bc338f.7b715"]]},{"id":"a71074c3.e78838","type":"inject","z":"f7689df5.5ae1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["15d2166d.b093aa"]]},{"id":"a0b33225.41605","type":"debug","z":"f7689df5.5ae1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":280,"wires":[]},{"id":"b938217d.7d90a","type":"ui_text","z":"f7689df5.5ae1f","group":"4a05820f.f626ac","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":60,"wires":[]},{"id":"45a01ab9.1069f4","type":"ui_text","z":"f7689df5.5ae1f","group":"915f3b06.fccb38","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":100,"wires":[]},{"id":"2a8281ad.0b05de","type":"ui_text","z":"f7689df5.5ae1f","group":"a59010fd.eff8e","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":140,"wires":[]},{"id":"5fa99e61.b6bc3","type":"ui_text","z":"f7689df5.5ae1f","group":"61cb9b6a.3d0754","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":180,"wires":[]},{"id":"b2bc338f.7b715","type":"ui_text","z":"f7689df5.5ae1f","group":"73a51444.23794c","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":220,"wires":[]},{"id":"69fd6b0a.676314","type":"mosca in","z":"c127b1bf.34f07","mqtt_port":"1883","mqtt_ws_port":"8080","name":"DISPOSITIVO-001","username":"LMM-TU-001","password":"","dburl":"","x":370,"y":180,"wires":[["366f31db.259a8e"]]},{"id":"366f31db.259a8e","type":"debug","z":"c127b1bf.34f07","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":180,"wires":[]},{"id":"7fd2e241.015bbc","type":"mosca in","z":"c127b1bf.34f07","mqtt_port":"1884","mqtt_ws_port":"8081","name":"DISPOSITIVO-003","username":"LMM-TU-003","password":"","dburl":"","x":370,"y":260,"wires":[["62ef6e57.4242a"]]},{"id":"62ef6e57.4242a","type":"debug","z":"c127b1bf.34f07","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":260,"wires":[]},{"id":"96c44518.5ccab8","type":"mosca in","z":"c127b1bf.34f07","mqtt_port":"1885","mqtt_ws_port":"8082","name":"DISPOSITIVO-002","username":"LMM-TU-002","password":"","dburl":"","x":370,"y":220,"wires":[["75501406.82470c"]]},{"id":"75501406.82470c","type":"debug","z":"c127b1bf.34f07","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":220,"wires":[]},{"id":"b07cfa7d.cca348","type":"mosca in","z":"c127b1bf.34f07","mqtt_port":"1886","mqtt_ws_port":"8083","name":"DISPOSITIVO-004","username":"LMM-TU-004","password":"","dburl":"","x":370,"y":300,"wires":[["8317788c.f4d118"]]},{"id":"8317788c.f4d118","type":"debug","z":"c127b1bf.34f07","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":300,"wires":[]},{"id":"bff40919.7f30e8","type":"mqtt in","z":"e9342f4c.21ec7","name":"storeDevice002","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":100,"y":180,"wires":[["e8dac54e.7a0db8"]]},{"id":"31783a1c.053366","type":"debug","z":"e9342f4c.21ec7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":80,"wires":[]},{"id":"d039e6bd.9aebf8","type":"json","z":"e9342f4c.21ec7","name":"","property":"payload","action":"","pretty":false,"x":250,"y":380,"wires":[["39aab340.acec8c","e1b53f39.134a2"]]},{"id":"51f11b62.0f7d84","type":"csv","z":"e9342f4c.21ec7","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":380,"wires":[["f7a8b0ec.c872d"]]},{"id":"f7a8b0ec.c872d","type":"file","z":"e9342f4c.21ec7","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/LMM-TU-004.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":380,"wires":[["31783a1c.053366"]]},{"id":"39aab340.acec8c","type":"function","z":"e9342f4c.21ec7","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["51f11b62.0f7d84"]]},{"id":"2dd643c8.7a77ec","type":"mqtt in","z":"e9342f4c.21ec7","name":"storeDevice001","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":100,"y":80,"wires":[["6505f877.b60128"]]},{"id":"ba236d5d.050bb","type":"mqtt in","z":"e9342f4c.21ec7","name":"storeDevice004","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":100,"y":380,"wires":[["d039e6bd.9aebf8"]]},{"id":"451c2ba6.8d81a4","type":"mqtt in","z":"e9342f4c.21ec7","name":"storeDevice003","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":100,"y":280,"wires":[["b5fa3895.d40988"]]},{"id":"b5fa3895.d40988","type":"json","z":"e9342f4c.21ec7","name":"","property":"payload","action":"","pretty":false,"x":250,"y":280,"wires":[["d2d1e78e.c077b8"]]},{"id":"88a238f1.0004f8","type":"csv","z":"e9342f4c.21ec7","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":280,"wires":[["9d3a7141.27a4e"]]},{"id":"9d3a7141.27a4e","type":"file","z":"e9342f4c.21ec7","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/LMM-TU-003.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":280,"wires":[["31783a1c.053366"]]},{"id":"d2d1e78e.c077b8","type":"function","z":"e9342f4c.21ec7","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["88a238f1.0004f8"]]},{"id":"e8dac54e.7a0db8","type":"json","z":"e9342f4c.21ec7","name":"","property":"payload","action":"","pretty":false,"x":250,"y":180,"wires":[["ae6234dd.929748"]]},{"id":"30284815.16c788","type":"csv","z":"e9342f4c.21ec7","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":180,"wires":[["f0ea6050.40189"]]},{"id":"f0ea6050.40189","type":"file","z":"e9342f4c.21ec7","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/LMM-TU-002.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":180,"wires":[["31783a1c.053366"]]},{"id":"ae6234dd.929748","type":"function","z":"e9342f4c.21ec7","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["30284815.16c788"]]},{"id":"6505f877.b60128","type":"json","z":"e9342f4c.21ec7","name":"","property":"payload","action":"","pretty":false,"x":270,"y":80,"wires":[["75f32c29.d1dc94"]]},{"id":"7d42296c.cdbea8","type":"csv","z":"e9342f4c.21ec7","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":80,"wires":[["1c12d209.8e0b7e"]]},{"id":"1c12d209.8e0b7e","type":"file","z":"e9342f4c.21ec7","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/LMM-TU-001.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":80,"wires":[["31783a1c.053366"]]},{"id":"75f32c29.d1dc94","type":"function","z":"e9342f4c.21ec7","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["7d42296c.cdbea8"]]},{"id":"2501f49a.9b7aac","type":"debug","z":"a0713f2c.db9fa","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":400,"wires":[]},{"id":"b57d27cb.6a30e8","type":"ui_gauge","z":"a0713f2c.db9fa","name":"humidityDashboard","group":"a40a83ed.39261","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":770,"y":140,"wires":[]},{"id":"da868696.19b518","type":"mqtt in","z":"a0713f2c.db9fa","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":140,"y":140,"wires":[["7efde74e.5cbb68"]]},{"id":"938729f9.65f7a8","type":"debug","z":"a0713f2c.db9fa","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":60,"wires":[]},{"id":"4b977e05.e2541","type":"mqtt in","z":"a0713f2c.db9fa","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":150,"y":340,"wires":[["42d1eef0.34082"]]},{"id":"7efde74e.5cbb68","type":"json","z":"a0713f2c.db9fa","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":140,"wires":[["b57d27cb.6a30e8","938729f9.65f7a8","ae961fa4.e400a","fec09d60.ec6dc"]]},{"id":"42d1eef0.34082","type":"json","z":"a0713f2c.db9fa","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":340,"wires":[["514ff2db.767afc","2501f49a.9b7aac","780ab8a5.c5bc18"]]},{"id":"514ff2db.767afc","type":"ui_gauge","z":"a0713f2c.db9fa","name":"temperatureDashboard","group":"a40a83ed.39261","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":790,"y":340,"wires":[]},{"id":"2d90987c.ef8a88","type":"debug","z":"a0713f2c.db9fa","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":220,"wires":[]},{"id":"ae961fa4.e400a","type":"function","z":"a0713f2c.db9fa","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["2d90987c.ef8a88"]]},{"id":"32749f63.b23d8","type":"function","z":"a0713f2c.db9fa","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[[]]},{"id":"7c94a1c1.704a5","type":"mqtt out","z":"a0713f2c.db9fa","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"1069c24a.d2b42e","x":580,"y":520,"wires":[]},{"id":"24acc8d5.74f568","type":"inject","z":"a0713f2c.db9fa","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/30 7-18 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":520,"wires":[["7c94a1c1.704a5"]]},{"id":"4b3a2226.b9941c","type":"mqtt out","z":"a0713f2c.db9fa","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"1069c24a.d2b42e","x":520,"y":640,"wires":[]},{"id":"a0a6259e.c14b38","type":"ui_button","z":"a0713f2c.db9fa","d":true,"name":"","group":"a40a83ed.39261","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":270,"y":640,"wires":[["4b3a2226.b9941c"]]},{"id":"9ae1fee3.60377","type":"mqtt out","z":"a0713f2c.db9fa","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"1069c24a.d2b42e","x":560,"y":580,"wires":[]},{"id":"d454d3dc.51d67","type":"inject","z":"a0713f2c.db9fa","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"23","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":580,"wires":[["9ae1fee3.60377"]]},{"id":"fec09d60.ec6dc","type":"ui_chart","z":"a0713f2c.db9fa","name":"","group":"a1150a10.e6b6e8","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":200,"wires":[[]]},{"id":"780ab8a5.c5bc18","type":"ui_chart","z":"a0713f2c.db9fa","name":"","group":"a1150a10.e6b6e8","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"a1ecaa4e.abad38","type":"function","z":"a0713f2c.db9fa","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[[]]},{"id":"adf6c8e8.7376e8","type":"comment","z":"a0713f2c.db9fa","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":220,"y":40,"wires":[]},{"id":"d2b6e7bd.864f88","type":"debug","z":"904cd9e2.a48308","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":440,"wires":[]},{"id":"ad7a89a4.c7b838","type":"ui_gauge","z":"904cd9e2.a48308","name":"humidityDashboard","group":"ab00c15c.93934","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"a880efae.f0fc","type":"debug","z":"904cd9e2.a48308","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":100,"wires":[]},{"id":"a19a6949.1e80b8","type":"json","z":"904cd9e2.a48308","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":160,"wires":[["ad7a89a4.c7b838","c5f52f02.ece3a","b049b9e6.20d108","a880efae.f0fc"]]},{"id":"240cec5b.08cf44","type":"json","z":"904cd9e2.a48308","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":380,"wires":[["7fc68df5.20cdb4","d2b6e7bd.864f88","f5b6c985.60eb98"]]},{"id":"7fc68df5.20cdb4","type":"ui_gauge","z":"904cd9e2.a48308","name":"temperatureDashboard","group":"ab00c15c.93934","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":790,"y":380,"wires":[]},{"id":"3b6aecc2.05d634","type":"debug","z":"904cd9e2.a48308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":320,"wires":[]},{"id":"c5f52f02.ece3a","type":"function","z":"904cd9e2.a48308","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["3b6aecc2.05d634"]]},{"id":"87543af4.0fb858","type":"function","z":"904cd9e2.a48308","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[[]]},{"id":"b049b9e6.20d108","type":"ui_chart","z":"904cd9e2.a48308","name":"","group":"44ba629e.1a9f7c","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":220,"wires":[[]]},{"id":"f5b6c985.60eb98","type":"ui_chart","z":"904cd9e2.a48308","name":"","group":"44ba629e.1a9f7c","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":320,"wires":[[]]},{"id":"eeda7f56.5b816","type":"ui_button","z":"904cd9e2.a48308","d":true,"name":"","group":"ab00c15c.93934","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":270,"y":680,"wires":[["41dc7e93.a15f7"]]},{"id":"fd691fcc.0de","type":"function","z":"904cd9e2.a48308","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[[]]},{"id":"77a39cc8.aa47c4","type":"mqtt out","z":"904cd9e2.a48308","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"5f380a11.7a0aa4","x":580,"y":560,"wires":[]},{"id":"7f0e7bec.0a6ca4","type":"inject","z":"904cd9e2.a48308","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/30 7-18 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["77a39cc8.aa47c4"]]},{"id":"41dc7e93.a15f7","type":"mqtt out","z":"904cd9e2.a48308","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"5f380a11.7a0aa4","x":520,"y":680,"wires":[]},{"id":"e25735b9.280838","type":"mqtt out","z":"904cd9e2.a48308","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"5f380a11.7a0aa4","x":560,"y":620,"wires":[]},{"id":"6deafb9d.55d794","type":"inject","z":"904cd9e2.a48308","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":620,"wires":[["e25735b9.280838"]]},{"id":"b124207d.822f1","type":"mqtt in","z":"904cd9e2.a48308","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":150,"y":380,"wires":[["240cec5b.08cf44"]]},{"id":"e5941147.944c3","type":"mqtt in","z":"904cd9e2.a48308","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":140,"y":160,"wires":[["a19a6949.1e80b8","3b6aecc2.05d634"]]},{"id":"10339f5b.220c31","type":"comment","z":"904cd9e2.a48308","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":240,"y":60,"wires":[]},{"id":"d5b79a40.4b2578","type":"debug","z":"81257762.afeda8","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":440,"wires":[]},{"id":"8fe41e95.310ed","type":"ui_gauge","z":"81257762.afeda8","name":"humidityDashboard","group":"1f453de2.e08e92","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":750,"y":140,"wires":[]},{"id":"7c494a4c.b97dd4","type":"debug","z":"81257762.afeda8","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":80,"wires":[]},{"id":"84515af0.749e98","type":"json","z":"81257762.afeda8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":140,"wires":[["8fe41e95.310ed","7c494a4c.b97dd4","6ff5ce32.65238","e3b34347.8b188"]]},{"id":"fa4ff004.b4e92","type":"json","z":"81257762.afeda8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":380,"wires":[["78af760d.eb1828","d5b79a40.4b2578","1df9a9a4.588f16"]]},{"id":"78af760d.eb1828","type":"ui_gauge","z":"81257762.afeda8","name":"temperatureDashboard","group":"1f453de2.e08e92","order":2,"width":9,"height":6,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":770,"y":380,"wires":[]},{"id":"fb00f1b.91e0e1","type":"debug","z":"81257762.afeda8","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":220,"wires":[]},{"id":"6ff5ce32.65238","type":"function","z":"81257762.afeda8","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["fb00f1b.91e0e1"]]},{"id":"2ff1c8a0.388148","type":"function","z":"81257762.afeda8","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":280,"wires":[[]]},{"id":"e3b34347.8b188","type":"ui_chart","z":"81257762.afeda8","name":"","group":"d019f117.fced3","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"1df9a9a4.588f16","type":"ui_chart","z":"81257762.afeda8","name":"","group":"d019f117.fced3","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"8399b0fc.22b0c","type":"ui_button","z":"81257762.afeda8","d":true,"name":"","group":"1f453de2.e08e92","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":270,"y":680,"wires":[["b6c9918f.12adc"]]},{"id":"19d5d310.5134ad","type":"mqtt out","z":"81257762.afeda8","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"473d42ab.604c0c","x":580,"y":560,"wires":[]},{"id":"6878c1e5.0165a","type":"inject","z":"81257762.afeda8","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/30 7-19 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["19d5d310.5134ad"]]},{"id":"b6c9918f.12adc","type":"mqtt out","z":"81257762.afeda8","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"473d42ab.604c0c","x":520,"y":680,"wires":[]},{"id":"f4f05e54.8dd23","type":"mqtt out","z":"81257762.afeda8","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"473d42ab.604c0c","x":560,"y":620,"wires":[]},{"id":"db8dc133.8cd1d","type":"inject","z":"81257762.afeda8","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":620,"wires":[["f4f05e54.8dd23"]]},{"id":"f3ed05b9.2d2d98","type":"mqtt in","z":"81257762.afeda8","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":150,"y":380,"wires":[["fa4ff004.b4e92"]]},{"id":"a4d53319.c6f2","type":"mqtt in","z":"81257762.afeda8","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":160,"y":140,"wires":[["84515af0.749e98"]]},{"id":"269bd0e4.21001","type":"comment","z":"81257762.afeda8","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":220,"y":60,"wires":[]},{"id":"49acc398.7b15bc","type":"debug","z":"cc4023ba.86cb3","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":400,"wires":[]},{"id":"dd206f64.5176c","type":"ui_gauge","z":"cc4023ba.86cb3","name":"humidityDashboard","group":"dbdca429.2441d8","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":770,"y":100,"wires":[]},{"id":"14a2a101.47ec5f","type":"debug","z":"cc4023ba.86cb3","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":40,"wires":[]},{"id":"85901a98.9fd058","type":"json","z":"cc4023ba.86cb3","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":480,"y":100,"wires":[["dd206f64.5176c","14a2a101.47ec5f","f964f55e.6d9fd8","de22648b.46ddb8"]]},{"id":"795e0fd1.609bd","type":"json","z":"cc4023ba.86cb3","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":480,"y":340,"wires":[["ce976a64.e36b38","49acc398.7b15bc","47e775f6.da3eec"]]},{"id":"ce976a64.e36b38","type":"ui_gauge","z":"cc4023ba.86cb3","name":"temperatureDashboard","group":"dbdca429.2441d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":790,"y":340,"wires":[]},{"id":"98c0365e.795038","type":"debug","z":"cc4023ba.86cb3","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":180,"wires":[]},{"id":"f964f55e.6d9fd8","type":"function","z":"cc4023ba.86cb3","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["98c0365e.795038"]]},{"id":"62d45c07.7e8b74","type":"function","z":"cc4023ba.86cb3","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[[]]},{"id":"de22648b.46ddb8","type":"ui_chart","z":"cc4023ba.86cb3","name":"","group":"566b21e.425f2e","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":160,"wires":[[]]},{"id":"47e775f6.da3eec","type":"ui_chart","z":"cc4023ba.86cb3","name":"","group":"566b21e.425f2e","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"monotone","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"59940381.49280c","type":"ui_button","z":"cc4023ba.86cb3","d":true,"name":"","group":"dbdca429.2441d8","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":230,"y":640,"wires":[["dbb36190.0ca37"]]},{"id":"3d24a247.72918e","type":"mqtt out","z":"cc4023ba.86cb3","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"d5c3885.0e52878","x":540,"y":520,"wires":[]},{"id":"2163e68c.85864a","type":"inject","z":"cc4023ba.86cb3","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/20 7-19 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":190,"y":520,"wires":[["3d24a247.72918e"]]},{"id":"dbb36190.0ca37","type":"mqtt out","z":"cc4023ba.86cb3","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"d5c3885.0e52878","x":480,"y":640,"wires":[]},{"id":"ad731eaf.9a56c","type":"mqtt out","z":"cc4023ba.86cb3","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"d5c3885.0e52878","x":520,"y":580,"wires":[]},{"id":"1db332d7.c93a3d","type":"inject","z":"cc4023ba.86cb3","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":580,"wires":[["ad731eaf.9a56c"]]},{"id":"687e87b2.1568c8","type":"mqtt in","z":"cc4023ba.86cb3","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":170,"y":340,"wires":[["795e0fd1.609bd"]]},{"id":"2249fcaf.e69c64","type":"mqtt in","z":"cc4023ba.86cb3","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":180,"y":100,"wires":[["85901a98.9fd058"]]},{"id":"628c2252.146c8c","type":"comment","z":"cc4023ba.86cb3","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":180,"y":40,"wires":[]},{"id":"17b394af.d520bb","type":"debug","z":"7f6eec64.97cd84","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":460,"wires":[]},{"id":"806e71eb.238ca","type":"ui_gauge","z":"7f6eec64.97cd84","name":"humidityDashboard","group":"967d5891.f7c698","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"4ea655b3.a9501c","type":"debug","z":"7f6eec64.97cd84","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":100,"wires":[]},{"id":"a23b44da.43d498","type":"json","z":"7f6eec64.97cd84","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":160,"wires":[["806e71eb.238ca","4ea655b3.a9501c","d060cacb.008b98","6930a7ad.a228d8"]]},{"id":"e527b013.90868","type":"json","z":"7f6eec64.97cd84","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":400,"wires":[["3afcaefc.85f652","17b394af.d520bb","1ca49835.66a088"]]},{"id":"3afcaefc.85f652","type":"ui_gauge","z":"7f6eec64.97cd84","name":"temperatureDashboard","group":"967d5891.f7c698","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":750,"y":400,"wires":[]},{"id":"8ff448a0.ce7f08","type":"debug","z":"7f6eec64.97cd84","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":260,"wires":[]},{"id":"d060cacb.008b98","type":"function","z":"7f6eec64.97cd84","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["8ff448a0.ce7f08"]]},{"id":"6fd59e61.12924","type":"function","z":"7f6eec64.97cd84","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[[]]},{"id":"6930a7ad.a228d8","type":"ui_chart","z":"7f6eec64.97cd84","name":"","group":"9f940219.7fae7","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":220,"wires":[[]]},{"id":"1ca49835.66a088","type":"ui_chart","z":"7f6eec64.97cd84","name":"","group":"9f940219.7fae7","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":340,"wires":[[]]},{"id":"e306cd2d.428a2","type":"ui_button","z":"7f6eec64.97cd84","d":true,"name":"","group":"967d5891.f7c698","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":230,"y":680,"wires":[["1274a942.578557"]]},{"id":"2f2425a1.dcfa7a","type":"mqtt out","z":"7f6eec64.97cd84","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"1ceac82a.ea4218","x":560,"y":560,"wires":[]},{"id":"9de428a3.ef6838","type":"inject","z":"7f6eec64.97cd84","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["2f2425a1.dcfa7a"]]},{"id":"1274a942.578557","type":"mqtt out","z":"7f6eec64.97cd84","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"1ceac82a.ea4218","x":500,"y":680,"wires":[]},{"id":"5712c3b1.acf86c","type":"mqtt out","z":"7f6eec64.97cd84","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"1ceac82a.ea4218","x":540,"y":620,"wires":[]},{"id":"c94f7d18.891b1","type":"inject","z":"7f6eec64.97cd84","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["5712c3b1.acf86c"]]},{"id":"426a03b9.2d7a0c","type":"mqtt in","z":"7f6eec64.97cd84","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"1ceac82a.ea4218","x":150,"y":400,"wires":[["e527b013.90868"]]},{"id":"c74bb499.15d3b8","type":"mqtt in","z":"7f6eec64.97cd84","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"1ceac82a.ea4218","x":140,"y":160,"wires":[["a23b44da.43d498"]]},{"id":"e4811ec3.5d556","type":"comment","z":"7f6eec64.97cd84","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":240,"y":80,"wires":[]},{"id":"8c39dd60.5a93d","type":"mosca in","z":"c127b1bf.34f07","mqtt_port":"1887","mqtt_ws_port":"8084","name":"DISPOSITIVO-005","username":"LMM-TU-005","password":"","dburl":"","x":370,"y":340,"wires":[[]]},{"id":"fb923926.5a0b48","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":160,"y":100,"wires":[["5ae7d830.ac0708"]]},{"id":"5ae7d830.ac0708","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":100,"wires":[["74443c8f.f278e4"]]},{"id":"74443c8f.f278e4","type":"ui_gauge","z":"4d1905fd.220e4c","name":"humidityDashboard","group":"fc4bcf91.0db07","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":100,"wires":[]},{"id":"9f3b6163.91e9c","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":150,"y":160,"wires":[["46f1d55b.d7087c"]]},{"id":"46f1d55b.d7087c","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":160,"wires":[["aa487ee7.5b03d"]]},{"id":"aa487ee7.5b03d","type":"ui_gauge","z":"4d1905fd.220e4c","name":"temperatureDashboard","group":"fc4bcf91.0db07","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"2906bb8c.55c5c4","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":160,"y":220,"wires":[["413d2385.a6115c"]]},{"id":"413d2385.a6115c","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":220,"wires":[["932e09f6.981dd8"]]},{"id":"932e09f6.981dd8","type":"ui_gauge","z":"4d1905fd.220e4c","name":"humidityDashboard","group":"9ddf9f88.6af8c","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"4ebd973a.0eeb28","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":150,"y":280,"wires":[["c9cf7628.ef3cf8"]]},{"id":"c9cf7628.ef3cf8","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":280,"wires":[["dded38b5.614718"]]},{"id":"dded38b5.614718","type":"ui_gauge","z":"4d1905fd.220e4c","name":"temperatureDashboard","group":"9ddf9f88.6af8c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"b04b9149.23605","type":"mqtt in","z":"4d1905fd.220e4c","name":"storeDevice002","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":120,"y":760,"wires":[["94e7d74e.f8f6f8"]]},{"id":"4036e25b.e0c3cc","type":"json","z":"4d1905fd.220e4c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":880,"wires":[["a62842b2.d7256"]]},{"id":"b152b082.ae24c","type":"csv","z":"4d1905fd.220e4c","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":880,"wires":[["4e442b7e.f1be44"]]},{"id":"4e442b7e.f1be44","type":"file","z":"4d1905fd.220e4c","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-004.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":880,"wires":[[]]},{"id":"a62842b2.d7256","type":"function","z":"4d1905fd.220e4c","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":880,"wires":[["b152b082.ae24c"]]},{"id":"aa5e4684.ba5858","type":"mqtt in","z":"4d1905fd.220e4c","name":"storeDevice001","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":120,"y":700,"wires":[["4da139f1.f7a468"]]},{"id":"46b6fe96.3b426","type":"mqtt in","z":"4d1905fd.220e4c","name":"storeDevice004","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":120,"y":880,"wires":[["4036e25b.e0c3cc"]]},{"id":"48b7ab49.7612c4","type":"mqtt in","z":"4d1905fd.220e4c","name":"storeDevice003","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":120,"y":820,"wires":[["ed6f4dc6.eecec"]]},{"id":"ed6f4dc6.eecec","type":"json","z":"4d1905fd.220e4c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":820,"wires":[["17aad4a1.683c9b"]]},{"id":"639ef18d.28ecb","type":"csv","z":"4d1905fd.220e4c","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":820,"wires":[["240bf556.d010fa"]]},{"id":"240bf556.d010fa","type":"file","z":"4d1905fd.220e4c","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-003.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":820,"wires":[[]]},{"id":"17aad4a1.683c9b","type":"function","z":"4d1905fd.220e4c","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":820,"wires":[["639ef18d.28ecb"]]},{"id":"94e7d74e.f8f6f8","type":"json","z":"4d1905fd.220e4c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":760,"wires":[["4d836767.310048"]]},{"id":"63cff0b.dd3dc1","type":"csv","z":"4d1905fd.220e4c","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":760,"wires":[["f880a6d4.bf0f48"]]},{"id":"f880a6d4.bf0f48","type":"file","z":"4d1905fd.220e4c","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-002.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":760,"wires":[[]]},{"id":"4d836767.310048","type":"function","z":"4d1905fd.220e4c","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["63cff0b.dd3dc1"]]},{"id":"4da139f1.f7a468","type":"json","z":"4d1905fd.220e4c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":700,"wires":[["2da83267.ce389e"]]},{"id":"fe8c3ffd.5e369","type":"csv","z":"4d1905fd.220e4c","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":700,"wires":[["e059f2a7.09001"]]},{"id":"e059f2a7.09001","type":"file","z":"4d1905fd.220e4c","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-001.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":700,"wires":[["a333f067.ac17d","36d381cc.67c1ce"]]},{"id":"2da83267.ce389e","type":"function","z":"4d1905fd.220e4c","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["fe8c3ffd.5e369"]]},{"id":"311cb1fa.a912de","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":160,"y":360,"wires":[["115d8e1c.c0aa12"]]},{"id":"115d8e1c.c0aa12","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":360,"wires":[["f7ccbbaf.235c18"]]},{"id":"f7ccbbaf.235c18","type":"ui_gauge","z":"4d1905fd.220e4c","name":"humidityDashboard","group":"62a83c07.1611a4","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":360,"wires":[]},{"id":"d210b669.31d098","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":150,"y":420,"wires":[["3fcc6a34.e11de6"]]},{"id":"3fcc6a34.e11de6","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":420,"wires":[["40614d5c.3b6e74"]]},{"id":"40614d5c.3b6e74","type":"ui_gauge","z":"4d1905fd.220e4c","name":"temperatureDashboard","group":"62a83c07.1611a4","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":420,"wires":[]},{"id":"a0bfc9be.84e258","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":160,"y":500,"wires":[["134a93e8.1583ec"]]},{"id":"134a93e8.1583ec","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":500,"wires":[["9c8f0e5f.578ce"]]},{"id":"9c8f0e5f.578ce","type":"ui_gauge","z":"4d1905fd.220e4c","name":"humidityDashboard","group":"ed25a024.b7d27","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":500,"wires":[]},{"id":"88220e10.4786d","type":"mqtt in","z":"4d1905fd.220e4c","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":150,"y":560,"wires":[["95755b04.1b2ce8"]]},{"id":"95755b04.1b2ce8","type":"json","z":"4d1905fd.220e4c","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":560,"wires":[["97359515.2e6788"]]},{"id":"97359515.2e6788","type":"ui_gauge","z":"4d1905fd.220e4c","name":"temperatureDashboard","group":"ed25a024.b7d27","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":560,"wires":[]},{"id":"59bf66b8.a593d8","type":"mqtt out","z":"4d1905fd.220e4c","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"1069c24a.d2b42e","x":700,"y":1000,"wires":[]},{"id":"47a26313.0a4d5c","type":"inject","z":"4d1905fd.220e4c","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1000,"wires":[["59bf66b8.a593d8","981b630.2ff76a","5e4f4421.7b1ccc","4442c427.d3f8ec"]]},{"id":"981b630.2ff76a","type":"mqtt out","z":"4d1905fd.220e4c","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"5f380a11.7a0aa4","x":700,"y":1040,"wires":[]},{"id":"5e4f4421.7b1ccc","type":"mqtt out","z":"4d1905fd.220e4c","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"473d42ab.604c0c","x":700,"y":1080,"wires":[]},{"id":"4442c427.d3f8ec","type":"mqtt out","z":"4d1905fd.220e4c","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"d5c3885.0e52878","x":700,"y":1120,"wires":[]},{"id":"398dba47.c6e0e6","type":"ui_button","z":"4d1905fd.220e4c","name":"","group":"f0b478fe.8291c8","order":1,"width":0,"height":0,"passthru":false,"label":"Aquisitar valores","tooltip":"","color":"","bgcolor":"","icon":"","payload":"send_data_tago","payloadType":"str","topic":"","x":210,"y":1120,"wires":[["59bf66b8.a593d8","981b630.2ff76a","5e4f4421.7b1ccc","4442c427.d3f8ec"]]},{"id":"e1b53f39.134a2","type":"debug","z":"e9342f4c.21ec7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":480,"wires":[]},{"id":"88f310a2.0f00e","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":100,"y":400,"wires":[["95057272.2409b"]]},{"id":"c0947953.e43018","type":"change","z":"e6a1b1a9.c5e08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! UMIDADE ACIMA DO ESPECIFICADO","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":380,"wires":[["cb596506.b0f878","4679dcf0.e97824"]]},{"id":"cb596506.b0f878","type":"debug","z":"e6a1b1a9.c5e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":380,"wires":[]},{"id":"f5375ffd.ff559","type":"change","z":"e6a1b1a9.c5e08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! UMIDADE ABAIXO DO ESPECIFICADO!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":580,"wires":[["cb596506.b0f878","4679dcf0.e97824"]]},{"id":"4679dcf0.e97824","type":"ui_toast","z":"e6a1b1a9.c5e08","position":"top right","displayTime":"30","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":840,"y":480,"wires":[]},{"id":"fa15f092.bc3e6","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"payload=\n{\n\"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["c0947953.e43018"]]},{"id":"50db05da.1e145c","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["f5375ffd.ff559"]]},{"id":"31a11337.adc4fc","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":100,"y":440,"wires":[["2d94eec6.f72a42"]]},{"id":"fabbd737.8926f8","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":100,"y":480,"wires":[["804d4dc2.622e3"]]},{"id":"6f2f59c.c9b55a8","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":100,"y":520,"wires":[["cecbdbfa.10ee98"]]},{"id":"697f452b.02b3fc","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"1ceac82a.ea4218","x":100,"y":560,"wires":[["1b4af529.b0f2bb"]]},{"id":"ea8b790a.237148","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["c0947953.e43018"]]},{"id":"1e960d3b.a64ba3","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["f5375ffd.ff559"]]},{"id":"58becf59.eec3f","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["c0947953.e43018"]]},{"id":"95e8989d.30fef8","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["f5375ffd.ff559"]]},{"id":"8615b852.4b6508","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["c0947953.e43018"]]},{"id":"9391436.7f412c","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["f5375ffd.ff559"]]},{"id":"1b4af529.b0f2bb","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":640,"wires":[["e2035de0.ff682"],["887c1e4.93a39e"]]},{"id":"e2035de0.ff682","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["c0947953.e43018"]]},{"id":"887c1e4.93a39e","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["f5375ffd.ff559"]]},{"id":"a8721c0.fd09de","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"1069c24a.d2b42e","x":110,"y":840,"wires":[["3d83907f.c95f2"]]},{"id":"3d83907f.c95f2","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":760,"wires":[["f0cb34a6.e080a8"],["3645883f.1d7d78"]]},{"id":"81cead6e.124","type":"change","z":"e6a1b1a9.c5e08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! TEMPERATURA ACIMA DO ESPECIFICADO","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":820,"wires":[["6a5385ac.d379ec","d9a74994.06f308"]]},{"id":"6a5385ac.d379ec","type":"debug","z":"e6a1b1a9.c5e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":760,"wires":[]},{"id":"7a048923.b9a3d8","type":"change","z":"e6a1b1a9.c5e08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! TEMPERATURA ABAIXO DO ESPECIFICADO!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1020,"wires":[["6a5385ac.d379ec","d9a74994.06f308"]]},{"id":"d9a74994.06f308","type":"ui_toast","z":"e6a1b1a9.c5e08","position":"top right","displayTime":"30","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":840,"y":920,"wires":[]},{"id":"f0cb34a6.e080a8","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"payload=\n{\n\"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":740,"wires":[["81cead6e.124"]]},{"id":"3645883f.1d7d78","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":780,"wires":[["7a048923.b9a3d8"]]},{"id":"dbb61e3a.95cdb","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"5f380a11.7a0aa4","x":110,"y":880,"wires":[["b35d4017.e5a45"]]},{"id":"388bb1ab.b8170e","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"473d42ab.604c0c","x":110,"y":920,"wires":[["e68d1781.c3e0a8"]]},{"id":"b4cc78b0.2e80d8","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":900,"wires":[["81cead6e.124"]]},{"id":"1894f52a.8e5f4b","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":940,"wires":[["7a048923.b9a3d8"]]},{"id":"ef997287.93b8e","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":820,"wires":[["81cead6e.124"]]},{"id":"35b28586.49409a","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":860,"wires":[["7a048923.b9a3d8"]]},{"id":"9a355c80.a357d","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":980,"wires":[["81cead6e.124"]]},{"id":"90baa27e.e99e9","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1020,"wires":[["7a048923.b9a3d8"]]},{"id":"533d22b4.12752c","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":1060,"wires":[["81cead6e.124"]]},{"id":"f9e57674.cb4958","type":"function","z":"e6a1b1a9.c5e08","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1100,"wires":[["7a048923.b9a3d8"]]},{"id":"9c53846d.7ab868","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"d5c3885.0e52878","x":110,"y":960,"wires":[["6eb8f877.625168"]]},{"id":"ae779b97.d43f48","type":"mqtt in","z":"e6a1b1a9.c5e08","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"1ceac82a.ea4218","x":110,"y":1000,"wires":[["df55baae.e0ccf8"]]},{"id":"cecbdbfa.10ee98","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":560,"wires":[["8615b852.4b6508"],["9391436.7f412c"]]},{"id":"804d4dc2.622e3","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":480,"wires":[["ea8b790a.237148"],["1e960d3b.a64ba3"]]},{"id":"2d94eec6.f72a42","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":400,"wires":[["58becf59.eec3f"],["95e8989d.30fef8"]]},{"id":"95057272.2409b","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["fa15f092.bc3e6"],["50db05da.1e145c"]]},{"id":"b35d4017.e5a45","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":840,"wires":[["ef997287.93b8e"],["35b28586.49409a"]]},{"id":"e68d1781.c3e0a8","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":920,"wires":[["b4cc78b0.2e80d8"],["1894f52a.8e5f4b"]]},{"id":"6eb8f877.625168","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1000,"wires":[["9a355c80.a357d"],["90baa27e.e99e9"]]},{"id":"df55baae.e0ccf8","type":"switch","z":"e6a1b1a9.c5e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1080,"wires":[["533d22b4.12752c"],["f9e57674.cb4958"]]},{"id":"a537f78.7277508","type":"inject","z":"904cd9e2.a48308","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":760,"wires":[["41dc7e93.a15f7"]]},{"id":"9ac7629f.e8d42","type":"inject","z":"a0713f2c.db9fa","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":700,"wires":[["4b3a2226.b9941c"]]},{"id":"a333f067.ac17d","type":"debug","z":"4d1905fd.220e4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":700,"wires":[]},{"id":"702f5294.478a1c","type":"ui_toast","z":"4d1905fd.220e4c","position":"top right","displayTime":"15","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":860,"wires":[]},{"id":"36d381cc.67c1ce","type":"change","z":"4d1905fd.220e4c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Valores Registrados","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"AQUISIÇÃO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":780,"wires":[["702f5294.478a1c"]]},{"id":"39709cff.df6904","type":"mqtt out","z":"7f6eec64.97cd84","name":"","topic":"device/umidade","qos":"0","retain":"true","broker":"1ceac82a.ea4218","x":520,"y":800,"wires":[]},{"id":"e3e055d8.a2be08","type":"inject","z":"7f6eec64.97cd84","name":"","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["af813cc.7a6abc"]]},{"id":"b99b98c6.5cdd88","type":"inject","z":"7f6eec64.97cd84","d":true,"name":"","topic":"","payload":"","payloadType":"str","repeat":"660","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["a78b459b.6a44a8"]]},{"id":"a120a3f7.15675","type":"mqtt out","z":"7f6eec64.97cd84","name":"","topic":"device/temperatura","qos":"0","retain":"true","broker":"1ceac82a.ea4218","x":530,"y":940,"wires":[]},{"id":"9e4e0d0e.4c268","type":"inject","z":"7f6eec64.97cd84","name":"","topic":"","payload":"","payloadType":"str","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["c2a20edf.df7a2"]]},{"id":"f117939d.012e5","type":"debug","z":"7f6eec64.97cd84","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":880,"wires":[]},{"id":"b886c3b0.064e9","type":"inject","z":"7f6eec64.97cd84","d":true,"name":"","topic":"","payload":"","payloadType":"str","repeat":"660","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["9d9f69f1.ce80b8"]]},{"id":"8fc1518d.10896","type":"inject","z":"81257762.afeda8","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":780,"wires":[["b6c9918f.12adc"]]},{"id":"60fb84b0.171e8c","type":"inject","z":"cc4023ba.86cb3","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":700,"wires":[["dbb36190.0ca37"]]},{"id":"af813cc.7a6abc","type":"random","z":"7f6eec64.97cd84","name":"","low":"40","high":"75","inte":"true","property":"payload","x":260,"y":780,"wires":[["39709cff.df6904"]]},{"id":"a78b459b.6a44a8","type":"random","z":"7f6eec64.97cd84","name":"","low":"0","high":"100","inte":"true","property":"payload","x":260,"y":820,"wires":[["39709cff.df6904"]]},{"id":"c2a20edf.df7a2","type":"random","z":"7f6eec64.97cd84","name":"","low":"18","high":"28","inte":"true","property":"payload","x":280,"y":920,"wires":[["f117939d.012e5","a120a3f7.15675"]]},{"id":"9d9f69f1.ce80b8","type":"random","z":"7f6eec64.97cd84","name":"","low":"0","high":"40","inte":"true","property":"payload","x":280,"y":960,"wires":[["a120a3f7.15675"]]},{"id":"58c9ba89.1939d4","type":"function","z":"81257762.afeda8","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[[]]},{"id":"9671ef6f.f3e4","type":"function","z":"cc4023ba.86cb3","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[[]]},{"id":"4df7b64.9f3b348","type":"function","z":"7f6eec64.97cd84","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[[]]}]