node-red-flow/flows-broker-local.json
[
    {
        "id": "47cb9669.aaba48",
        "type": "tab",
        "label": "store",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5882d3ef.c1d02c",
        "type": "tab",
        "label": "LMM-TU-001",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5491f04.a79a7",
        "type": "tab",
        "label": "LMM-TU-002",
        "disabled": false,
        "info": ""
    },
    {
        "id": "520c4980.3dda68",
        "type": "tab",
        "label": "LMM-TU-003",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67f25d02.06ff34",
        "type": "tab",
        "label": "LMM-TU-004",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e55125f4.810118",
        "type": "tab",
        "label": "LMM-TU-005",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62c928af.0b8338",
        "type": "tab",
        "label": "data e agenda",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6fe5a682.06fbe8",
        "type": "tab",
        "label": "BROKER",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fad0bdb.202524",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Sensores de Umidade e Temperatura LMM",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf01b78e.ff5a78",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-001 ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "40768182.7484e",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-001",
        "tab": "cf01b78e.ff5a78",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "8d69b10.3afeb5",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "cf01b78e.ff5a78",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "bddd4c6a.6e601",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "cf01b78e.ff5a78",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "16b99657.dbd92a",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-002",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84f2085f.a81d98",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-002",
        "tab": "16b99657.dbd92a",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "6b7ddbf3.009c14",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "16b99657.dbd92a",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "183db3d.890a64c",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "16b99657.dbd92a",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "e7039c24.8f67c",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-002",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "info": "node caso o broker da Tago.IO seja utilizado. Necssário configurar login do dispositivo e sua respectiva senha (token)"
    },
    {
        "id": "7ab56d38.effd44",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-001",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "eafc48ee.aaf218",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-003",
        "tab": "d60c41e6.c1d26",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "d315b886.e694d8",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-003",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ffbfefec.a440e",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "d60c41e6.c1d26",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "d60c41e6.c1d26",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-003",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1774247e.77c90c",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-004",
        "tab": "fb3962a6.8649",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "aac978d7.b83268",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-004",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "4444",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "db28ee05.869e4",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "fb3962a6.8649",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "fb3962a6.8649",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-004",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9167712.66c088",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-005",
        "tab": "56054be0.05aa84",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "14f2ba8e.a61945",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-005",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c14fb35a.f348e",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "56054be0.05aa84",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "56054be0.05aa84",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-005",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7c68ca1.50b89",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "d60c41e6.c1d26",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "7db11dd9.6773c4",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "fb3962a6.8649",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "16fbd55a.01362b",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "56054be0.05aa84",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "309444b8.8cdedc",
        "type": "mqtt-broker",
        "z": "",
        "name": "BROKER003",
        "broker": "127.0.0.1",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e6e41f81.30568",
        "type": "mqtt-broker",
        "z": "",
        "name": "BROKER001",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b5e55ac7.74f088",
        "type": "mqtt-broker",
        "z": "",
        "name": "BROKER002",
        "broker": "127.0.0.1",
        "port": "1885",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "26e8caec.ac6336",
        "type": "mqtt-broker",
        "z": "",
        "name": "BROKER004",
        "broker": "127.0.0.1",
        "port": "1886",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a174e7c.25c4118",
        "type": "mqtt-broker",
        "z": "",
        "name": "BROKER005",
        "broker": "127.0.0.1",
        "port": "1887",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e18824e5.2a7258",
        "type": "debug",
        "z": "5882d3ef.c1d02c",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "368333e4.90f98c",
        "type": "ui_gauge",
        "z": "5882d3ef.c1d02c",
        "name": "humidityDashboard",
        "group": "40768182.7484e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5d07a65.d03d58",
        "type": "mqtt in",
        "z": "5882d3ef.c1d02c",
        "name": "recebeUmidadeDoDispositivo",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "e6e41f81.30568",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "e0214042.c5145"
            ]
        ]
    },
    {
        "id": "ebc1d271.3a22f",
        "type": "debug",
        "z": "5882d3ef.c1d02c",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "2ab2684a.1cdc68",
        "type": "mqtt in",
        "z": "5882d3ef.c1d02c",
        "name": "recebeTemperaturaDoDispositivo",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "e6e41f81.30568",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "e92f6647.8f2708"
            ]
        ]
    },
    {
        "id": "e0214042.c5145",
        "type": "json",
        "z": "5882d3ef.c1d02c",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "368333e4.90f98c",
                "ebc1d271.3a22f",
                "dc62b51c.991c28",
                "84232f01.92efd"
            ]
        ]
    },
    {
        "id": "e92f6647.8f2708",
        "type": "json",
        "z": "5882d3ef.c1d02c",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "db9fd1a5.48466",
                "e18824e5.2a7258",
                "e311f76e.3980a8"
            ]
        ]
    },
    {
        "id": "db9fd1a5.48466",
        "type": "ui_gauge",
        "z": "5882d3ef.c1d02c",
        "name": "temperatureDashboard",
        "group": "40768182.7484e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3bf6fa2.3bc2e",
        "type": "function",
        "z": "62c928af.0b8338",
        "name": "formatDate",
        "func": "/*\nvar today=new Date().format('d-m-Y h:i:s');\n//var date = today.getFullYear()+'/'+today.getMonth()+'/'+today.getUTCDate()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes();\nvar date = today.getUTCDate()+'/'+today.getUTCMonth()+'/'+today.getFullYear()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes()+':'+today.getUTCSeconds();\nmsg.payload=date\nreturn msg;\n*/\n\n\nvar d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \nweekday: \"long\",\nday: '2-digit',\n//year:'numeric',\nmonth: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n\n};\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\nmsg.payload = _resultDate.replace(',','');\nreturn msg;\n\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\").replace(\"T\", \" \");\nreturn msg;\n*/\n\n/*\nmsg.payload = new Date (msg.payload).toString(16); \nreturn msg;\n*/\n\n//var now = new Date().toLocaleString();\n//return {payload: now};\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\");\nreturn msg;\n*/\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "8ba794a8.c01df8",
                "d7a82ec0.8d86e",
                "76fe4c71.d5a394",
                "1f38fd65.f69173",
                "5cf4e161.81ca7",
                "fad9aeab.2181a"
            ]
        ]
    },
    {
        "id": "3c3d7608.ff6aca",
        "type": "inject",
        "z": "62c928af.0b8338",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "e3bf6fa2.3bc2e"
            ]
        ]
    },
    {
        "id": "8ba794a8.c01df8",
        "type": "debug",
        "z": "62c928af.0b8338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "d7a82ec0.8d86e",
        "type": "ui_text",
        "z": "62c928af.0b8338",
        "group": "8d69b10.3afeb5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "7d2af242.cda13c",
        "type": "ui_date_picker",
        "z": "62c928af.0b8338",
        "name": "calendarDashboard",
        "label": "",
        "group": "8d69b10.3afeb5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 550,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2f72d10c.b13ece",
        "type": "debug",
        "z": "5882d3ef.c1d02c",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc62b51c.991c28",
        "type": "function",
        "z": "5882d3ef.c1d02c",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "2f72d10c.b13ece"
            ]
        ]
    },
    {
        "id": "b403868e.7332b8",
        "type": "function",
        "z": "5882d3ef.c1d02c",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3505b9bc.f270e6",
        "type": "mqtt out",
        "z": "5882d3ef.c1d02c",
        "name": "gravarDadosAquisitadosNoBroker",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "broker": "e6e41f81.30568",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "5affb384.5fb32c",
        "type": "inject",
        "z": "5882d3ef.c1d02c",
        "name": "Gravar Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "3505b9bc.f270e6"
            ]
        ]
    },
    {
        "id": "2ba1dc89.8c20d4",
        "type": "mqtt out",
        "z": "5882d3ef.c1d02c",
        "name": "tertarLedInterno",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "true",
        "broker": "e6e41f81.30568",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "a2f73fa7.afd8d",
        "type": "ui_button",
        "z": "5882d3ef.c1d02c",
        "name": "",
        "group": "40768182.7484e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "2ba1dc89.8c20d4"
            ]
        ]
    },
    {
        "id": "8ecce20f.a5be6",
        "type": "mqtt out",
        "z": "5882d3ef.c1d02c",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "e6e41f81.30568",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "d4941ff1.8b14a",
        "type": "inject",
        "z": "5882d3ef.c1d02c",
        "name": "Atualizar Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 580,
        "wires": [
            [
                "8ecce20f.a5be6"
            ]
        ]
    },
    {
        "id": "84232f01.92efd",
        "type": "ui_chart",
        "z": "5882d3ef.c1d02c",
        "name": "",
        "group": "bddd4c6a.6e601",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e311f76e.3980a8",
        "type": "ui_chart",
        "z": "5882d3ef.c1d02c",
        "name": "",
        "group": "bddd4c6a.6e601",
        "order": 2,
        "width": 9,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4929265c.ee71f8",
        "type": "debug",
        "z": "b5491f04.a79a7",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "364d2b39.b510d4",
        "type": "ui_gauge",
        "z": "b5491f04.a79a7",
        "name": "humidityDashboard",
        "group": "84f2085f.a81d98",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "80bf4400.3623",
        "type": "debug",
        "z": "b5491f04.a79a7",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b5ce25b.c246a",
        "type": "json",
        "z": "b5491f04.a79a7",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "364d2b39.b510d4",
                "545c8095.78704",
                "cddd8ede.11ae8",
                "80bf4400.3623"
            ]
        ]
    },
    {
        "id": "a004c24.bdc054",
        "type": "json",
        "z": "b5491f04.a79a7",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "7efaabdf.cd9f64",
                "4929265c.ee71f8",
                "b5ae0f93.defa7"
            ]
        ]
    },
    {
        "id": "7efaabdf.cd9f64",
        "type": "ui_gauge",
        "z": "b5491f04.a79a7",
        "name": "temperatureDashboard",
        "group": "84f2085f.a81d98",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "60c04229.147f1c",
        "type": "debug",
        "z": "b5491f04.a79a7",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "545c8095.78704",
        "type": "function",
        "z": "b5491f04.a79a7",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "60c04229.147f1c"
            ]
        ]
    },
    {
        "id": "5e2948d6.0cf718",
        "type": "function",
        "z": "b5491f04.a79a7",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cddd8ede.11ae8",
        "type": "ui_chart",
        "z": "b5491f04.a79a7",
        "name": "",
        "group": "6b7ddbf3.009c14",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b5ae0f93.defa7",
        "type": "ui_chart",
        "z": "b5491f04.a79a7",
        "name": "",
        "group": "6b7ddbf3.009c14",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5507b85b.930248",
        "type": "ui_button",
        "z": "b5491f04.a79a7",
        "name": "",
        "group": "84f2085f.a81d98",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "4cea303d.cc7a"
            ]
        ]
    },
    {
        "id": "76fe4c71.d5a394",
        "type": "ui_text",
        "z": "62c928af.0b8338",
        "group": "183db3d.890a64c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "37f6b6b5.76a93a",
        "type": "ui_date_picker",
        "z": "62c928af.0b8338",
        "name": "calendarDashboard",
        "label": "",
        "group": "183db3d.890a64c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6c3c090.8f71bf8",
        "type": "function",
        "z": "b5491f04.a79a7",
        "d": true,
        "name": "nodeAjuste",
        "func": "msg.payload = msg.payload + 1.2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f0666b82.b5a3d8",
        "type": "function",
        "z": "5882d3ef.c1d02c",
        "d": true,
        "name": "nodeAjuste",
        "func": "msg.payload = msg.payload + 1.2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4a4f6556.dcc5fc",
        "type": "debug",
        "z": "520c4980.3dda68",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "c8ce8fe2.c8417",
        "type": "ui_gauge",
        "z": "520c4980.3dda68",
        "name": "humidityDashboard",
        "group": "eafc48ee.aaf218",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef60919.e04fa7",
        "type": "debug",
        "z": "520c4980.3dda68",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "7d5db777.4d4768",
        "type": "json",
        "z": "520c4980.3dda68",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "c8ce8fe2.c8417",
                "ef60919.e04fa7",
                "588c4269.5aacec",
                "c20ab6.f4cec548"
            ]
        ]
    },
    {
        "id": "6656282c.9508e8",
        "type": "json",
        "z": "520c4980.3dda68",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "5ab85a84.0cd824",
                "4a4f6556.dcc5fc",
                "bfd08ae5.476378"
            ]
        ]
    },
    {
        "id": "5ab85a84.0cd824",
        "type": "ui_gauge",
        "z": "520c4980.3dda68",
        "name": "temperatureDashboard",
        "group": "eafc48ee.aaf218",
        "order": 2,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "366db215.d14ffe",
        "type": "debug",
        "z": "520c4980.3dda68",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "588c4269.5aacec",
        "type": "function",
        "z": "520c4980.3dda68",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "366db215.d14ffe"
            ]
        ]
    },
    {
        "id": "8981cbcf.3697d8",
        "type": "function",
        "z": "520c4980.3dda68",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c20ab6.f4cec548",
        "type": "ui_chart",
        "z": "520c4980.3dda68",
        "name": "",
        "group": "ffbfefec.a440e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bfd08ae5.476378",
        "type": "ui_chart",
        "z": "520c4980.3dda68",
        "name": "",
        "group": "ffbfefec.a440e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 730,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "12e3e15c.cf996f",
        "type": "ui_button",
        "z": "520c4980.3dda68",
        "name": "",
        "group": "eafc48ee.aaf218",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "d26b7dee.21c24"
            ]
        ]
    },
    {
        "id": "98ecdda2.fa3bd",
        "type": "debug",
        "z": "67f25d02.06ff34",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "f4909be6.5f4dc8",
        "type": "ui_gauge",
        "z": "67f25d02.06ff34",
        "name": "humidityDashboard",
        "group": "1774247e.77c90c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "bcbc09a1.c437b8",
        "type": "debug",
        "z": "67f25d02.06ff34",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "53f0fe38.649f9",
        "type": "json",
        "z": "67f25d02.06ff34",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "f4909be6.5f4dc8",
                "bcbc09a1.c437b8",
                "44bc023c.02a36c",
                "a1449788.e4a4b8"
            ]
        ]
    },
    {
        "id": "595d276c.c9f168",
        "type": "json",
        "z": "67f25d02.06ff34",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "95719140.2328b",
                "98ecdda2.fa3bd",
                "b0d3dd5d.27376"
            ]
        ]
    },
    {
        "id": "95719140.2328b",
        "type": "ui_gauge",
        "z": "67f25d02.06ff34",
        "name": "temperatureDashboard",
        "group": "1774247e.77c90c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "cc6e1000.b912b",
        "type": "debug",
        "z": "67f25d02.06ff34",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "44bc023c.02a36c",
        "type": "function",
        "z": "67f25d02.06ff34",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "cc6e1000.b912b"
            ]
        ]
    },
    {
        "id": "1e14292e.6eeaa7",
        "type": "function",
        "z": "67f25d02.06ff34",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a1449788.e4a4b8",
        "type": "ui_chart",
        "z": "67f25d02.06ff34",
        "name": "",
        "group": "db28ee05.869e4",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d3dd5d.27376",
        "type": "ui_chart",
        "z": "67f25d02.06ff34",
        "name": "",
        "group": "db28ee05.869e4",
        "order": 2,
        "width": 9,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "22c28467.88ca1c",
        "type": "ui_button",
        "z": "67f25d02.06ff34",
        "name": "",
        "group": "1774247e.77c90c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "6af9c9c0.2f5b48"
            ]
        ]
    },
    {
        "id": "2616cffc.4077b",
        "type": "debug",
        "z": "e55125f4.810118",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "a4c5bc3.f1a164",
        "type": "ui_gauge",
        "z": "e55125f4.810118",
        "name": "humidityDashboard",
        "group": "a9167712.66c088",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "81183d5b.04665",
        "type": "debug",
        "z": "e55125f4.810118",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "4531699d.8563a8",
        "type": "json",
        "z": "e55125f4.810118",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "a4c5bc3.f1a164",
                "81183d5b.04665",
                "f33ecbbd.938238",
                "d1eb4b8a.645d68"
            ]
        ]
    },
    {
        "id": "b6b16a13.984f78",
        "type": "json",
        "z": "e55125f4.810118",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "51ab9ced.25f0d4",
                "2616cffc.4077b",
                "b42e8c5.6e1117"
            ]
        ]
    },
    {
        "id": "51ab9ced.25f0d4",
        "type": "ui_gauge",
        "z": "e55125f4.810118",
        "name": "temperatureDashboard",
        "group": "a9167712.66c088",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c562137.1cf28",
        "type": "debug",
        "z": "e55125f4.810118",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "f33ecbbd.938238",
        "type": "function",
        "z": "e55125f4.810118",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "7c562137.1cf28"
            ]
        ]
    },
    {
        "id": "aeb43044.0a865",
        "type": "function",
        "z": "e55125f4.810118",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d1eb4b8a.645d68",
        "type": "ui_chart",
        "z": "e55125f4.810118",
        "name": "",
        "group": "c14fb35a.f348e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 700,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b42e8c5.6e1117",
        "type": "ui_chart",
        "z": "e55125f4.810118",
        "name": "",
        "group": "c14fb35a.f348e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7bfa9b43.2ab014",
        "type": "ui_button",
        "z": "e55125f4.810118",
        "name": "",
        "group": "a9167712.66c088",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "c69c41ed.8a4a1"
            ]
        ]
    },
    {
        "id": "17920b6c.a20a95",
        "type": "inject",
        "z": "62c928af.0b8338",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "7d2af242.cda13c",
                "37f6b6b5.76a93a",
                "3d0684b.8ab5b7c",
                "f3a335de.a3b9c8",
                "43df23cc.a09f2c"
            ]
        ]
    },
    {
        "id": "3d0684b.8ab5b7c",
        "type": "ui_date_picker",
        "z": "62c928af.0b8338",
        "name": "calendarDashboard",
        "label": "",
        "group": "c7c68ca1.50b89",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1f38fd65.f69173",
        "type": "ui_text",
        "z": "62c928af.0b8338",
        "group": "c7c68ca1.50b89",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "f3a335de.a3b9c8",
        "type": "ui_date_picker",
        "z": "62c928af.0b8338",
        "name": "calendarDashboard",
        "label": "",
        "group": "7db11dd9.6773c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf4e161.81ca7",
        "type": "ui_text",
        "z": "62c928af.0b8338",
        "group": "7db11dd9.6773c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "fad9aeab.2181a",
        "type": "ui_text",
        "z": "62c928af.0b8338",
        "group": "16fbd55a.01362b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "43df23cc.a09f2c",
        "type": "ui_date_picker",
        "z": "62c928af.0b8338",
        "name": "calendarDashboard",
        "label": "",
        "group": "16fbd55a.01362b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 550,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "50325bd3.18e1e4",
        "type": "mosca in",
        "z": "6fe5a682.06fbe8",
        "mqtt_port": "1883",
        "mqtt_ws_port": "8080",
        "name": "DISPOSITIVO-001",
        "username": "LMM-TU-001",
        "password": "",
        "dburl": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "b0ff3146.73824"
            ]
        ]
    },
    {
        "id": "b0ff3146.73824",
        "type": "debug",
        "z": "6fe5a682.06fbe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "a3fc1d6.db764e",
        "type": "mosca in",
        "z": "6fe5a682.06fbe8",
        "mqtt_port": "1884",
        "mqtt_ws_port": "8081",
        "name": "DISPOSITIVO-003",
        "username": "LMM-TU-003",
        "password": "",
        "dburl": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "a716b23c.0528e"
            ]
        ]
    },
    {
        "id": "a716b23c.0528e",
        "type": "debug",
        "z": "6fe5a682.06fbe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "241a6313.42721c",
        "type": "mosca in",
        "z": "6fe5a682.06fbe8",
        "mqtt_port": "1885",
        "mqtt_ws_port": "8082",
        "name": "DISPOSITIVO-002",
        "username": "LMM-TU-002",
        "password": "",
        "dburl": "",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "f401ecee.26f6a"
            ]
        ]
    },
    {
        "id": "f401ecee.26f6a",
        "type": "debug",
        "z": "6fe5a682.06fbe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "69bfcf3c.51a4d",
        "type": "mosca in",
        "z": "6fe5a682.06fbe8",
        "mqtt_port": "1886",
        "mqtt_ws_port": "8083",
        "name": "DISPOSITIVO-004",
        "username": "LMM-TU-004",
        "password": "",
        "dburl": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "ccd18a79.b30148"
            ]
        ]
    },
    {
        "id": "ccd18a79.b30148",
        "type": "debug",
        "z": "6fe5a682.06fbe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "7108fa9c.dc6b54",
        "type": "mqtt in",
        "z": "47cb9669.aaba48",
        "name": "storeDevice002",
        "topic": "tagodata/store",
        "qos": "0",
        "datatype": "auto",
        "broker": "b5e55ac7.74f088",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "82e8001.433b7"
            ]
        ],
        "info": "recebe os dados de temperatura e umidade do dispositivo formatados para armazenamento local.\n"
    },
    {
        "id": "17ac648f.9ad76b",
        "type": "debug",
        "z": "47cb9669.aaba48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "82e8001.433b7",
        "type": "json",
        "z": "47cb9669.aaba48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "e4238fda.63e81",
                "dff95b35.8a2988"
            ]
        ]
    },
    {
        "id": "7c27e2ab.4814fc",
        "type": "csv",
        "z": "47cb9669.aaba48",
        "name": "",
        "sep": "\\t",
        "hdrin": true,
        "hdrout": true,
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "dispositivo, umidade, temperatura, data/hora",
        "skip": "0",
        "strings": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "a9781aab.4c0388"
            ]
        ]
    },
    {
        "id": "a9781aab.4c0388",
        "type": "file",
        "z": "47cb9669.aaba48",
        "name": "escreverArquivo",
        "filename": "C:\\Users\\Diego\\Desktop\\store.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e4238fda.63e81",
        "type": "function",
        "z": "47cb9669.aaba48",
        "name": "formatStore",
        "func": "var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "7c27e2ab.4814fc",
                "17ac648f.9ad76b"
            ]
        ],
        "info": "acrescenta a informacao de data e hora na aquisicao dos valores do dispositivo.\nAqui, pode ser feito correção dos valores conforme certificado de calibração. "
    },
    {
        "id": "dff95b35.8a2988",
        "type": "debug",
        "z": "47cb9669.aaba48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "ff5a9bb5.9c6028",
        "type": "mqtt in",
        "z": "47cb9669.aaba48",
        "name": "storeDevice001",
        "topic": "tagodata/store",
        "qos": "0",
        "datatype": "auto",
        "broker": "e6e41f81.30568",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "82e8001.433b7"
            ]
        ],
        "info": "recebe os dados de temperatura e umidade do dispositivo formatados para armazenamento local.\n"
    },
    {
        "id": "813a2993.dbf2f8",
        "type": "mqtt in",
        "z": "47cb9669.aaba48",
        "name": "storeDevice004",
        "topic": "tagodata/store",
        "qos": "0",
        "datatype": "auto",
        "broker": "26e8caec.ac6336",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "82e8001.433b7"
            ]
        ],
        "info": "recebe os dados de temperatura e umidade do dispositivo formatados para armazenamento local.\n"
    },
    {
        "id": "e2bcb199.2c674",
        "type": "mqtt in",
        "z": "47cb9669.aaba48",
        "name": "storeDevice003",
        "topic": "tagodata/store",
        "qos": "0",
        "datatype": "auto",
        "broker": "309444b8.8cdedc",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "82e8001.433b7"
            ]
        ],
        "info": "recebe os dados de temperatura e umidade do dispositivo formatados para armazenamento local.\n"
    },
    {
        "id": "4f3c1683.8a3168",
        "type": "mosca in",
        "z": "6fe5a682.06fbe8",
        "mqtt_port": "1887",
        "mqtt_ws_port": "8084",
        "name": "DISPOSITIVO-005",
        "username": "LMM-TU-005",
        "password": "",
        "dburl": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "785a1063.6e4bc"
            ]
        ]
    },
    {
        "id": "785a1063.6e4bc",
        "type": "debug",
        "z": "6fe5a682.06fbe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed712d59.d3e72",
        "type": "mqtt in",
        "z": "47cb9669.aaba48",
        "name": "storeDevice005",
        "topic": "tagodata/store",
        "qos": "0",
        "datatype": "auto",
        "broker": "a174e7c.25c4118",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "82e8001.433b7"
            ]
        ],
        "info": "recebe os dados de temperatura e umidade do dispositivo formatados para armazenamento local.\n"
    },
    {
        "id": "b7d6e5d9.7257b8",
        "type": "mqtt out",
        "z": "b5491f04.a79a7",
        "name": "gravarDadosAquisitadosNoBroker",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "broker": "b5e55ac7.74f088",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "e5b04ef5.169a8",
        "type": "inject",
        "z": "b5491f04.a79a7",
        "name": "Gravar Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 560,
        "wires": [
            [
                "b7d6e5d9.7257b8"
            ]
        ]
    },
    {
        "id": "4cea303d.cc7a",
        "type": "mqtt out",
        "z": "b5491f04.a79a7",
        "name": "tertarLedInterno",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "true",
        "broker": "b5e55ac7.74f088",
        "x": 520,
        "y": 680,
        "wires": []
    },
    {
        "id": "4013b3c9.2d0a3c",
        "type": "mqtt out",
        "z": "b5491f04.a79a7",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "b5e55ac7.74f088",
        "x": 560,
        "y": 620,
        "wires": []
    },
    {
        "id": "a5d4fe6f.40b0b",
        "type": "inject",
        "z": "b5491f04.a79a7",
        "name": "Atualizar Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "4013b3c9.2d0a3c"
            ]
        ]
    },
    {
        "id": "2a8af79f.7106e8",
        "type": "mqtt in",
        "z": "b5491f04.a79a7",
        "name": "recebeTemperaturaDoDispositivo",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "b5e55ac7.74f088",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "a004c24.bdc054"
            ]
        ]
    },
    {
        "id": "76ce8ff3.aab4b",
        "type": "mqtt in",
        "z": "b5491f04.a79a7",
        "name": "recebeUmidadeDoDispositivo",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "b5e55ac7.74f088",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "9b5ce25b.c246a"
            ]
        ]
    },
    {
        "id": "e8ea91f4.1aafa",
        "type": "mqtt out",
        "z": "520c4980.3dda68",
        "name": "gravarDadosAquisitadosNoBroker",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "broker": "309444b8.8cdedc",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "cc7be881.9d4ec8",
        "type": "inject",
        "z": "520c4980.3dda68",
        "name": "Gravar Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 560,
        "wires": [
            [
                "e8ea91f4.1aafa"
            ]
        ]
    },
    {
        "id": "d26b7dee.21c24",
        "type": "mqtt out",
        "z": "520c4980.3dda68",
        "name": "tertarLedInterno",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "true",
        "broker": "309444b8.8cdedc",
        "x": 520,
        "y": 680,
        "wires": []
    },
    {
        "id": "1efbbfe2.31d31",
        "type": "mqtt out",
        "z": "520c4980.3dda68",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "309444b8.8cdedc",
        "x": 560,
        "y": 620,
        "wires": []
    },
    {
        "id": "604a5485.b2062c",
        "type": "inject",
        "z": "520c4980.3dda68",
        "name": "Atualizar Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "1efbbfe2.31d31"
            ]
        ]
    },
    {
        "id": "27fc98b3.729c88",
        "type": "mqtt in",
        "z": "520c4980.3dda68",
        "name": "recebeTemperaturaDoDispositivo",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "309444b8.8cdedc",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "6656282c.9508e8"
            ]
        ]
    },
    {
        "id": "f605e163.70172",
        "type": "mqtt in",
        "z": "520c4980.3dda68",
        "name": "recebeUmidadeDoDispositivo",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "309444b8.8cdedc",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "7d5db777.4d4768"
            ]
        ]
    },
    {
        "id": "59382b12.293bd4",
        "type": "mqtt out",
        "z": "67f25d02.06ff34",
        "name": "gravarDadosAquisitadosNoBroker",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "broker": "309444b8.8cdedc",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "ec0c9286.76126",
        "type": "inject",
        "z": "67f25d02.06ff34",
        "name": "Gravar Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 520,
        "wires": [
            [
                "59382b12.293bd4"
            ]
        ]
    },
    {
        "id": "6af9c9c0.2f5b48",
        "type": "mqtt out",
        "z": "67f25d02.06ff34",
        "name": "tertarLedInterno",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "true",
        "broker": "26e8caec.ac6336",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "27da357e.f76aba",
        "type": "mqtt out",
        "z": "67f25d02.06ff34",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "26e8caec.ac6336",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "f8033a5b.f2eb38",
        "type": "inject",
        "z": "67f25d02.06ff34",
        "name": "Atualizar Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 580,
        "wires": [
            [
                "27da357e.f76aba"
            ]
        ]
    },
    {
        "id": "4916af2e.5689",
        "type": "mqtt in",
        "z": "67f25d02.06ff34",
        "name": "recebeTemperaturaDoDispositivo",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "26e8caec.ac6336",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "595d276c.c9f168"
            ]
        ]
    },
    {
        "id": "1c441b5b.876945",
        "type": "mqtt in",
        "z": "67f25d02.06ff34",
        "name": "recebeUmidadeDoDispositivo",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "26e8caec.ac6336",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "53f0fe38.649f9"
            ]
        ]
    },
    {
        "id": "9d0749cf.23c018",
        "type": "mqtt out",
        "z": "e55125f4.810118",
        "name": "gravarDadosAquisitadosNoBroker",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "broker": "a174e7c.25c4118",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "ad33633c.a0e4b",
        "type": "inject",
        "z": "e55125f4.810118",
        "name": "Gravar Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "9d0749cf.23c018"
            ]
        ]
    },
    {
        "id": "c69c41ed.8a4a1",
        "type": "mqtt out",
        "z": "e55125f4.810118",
        "name": "tertarLedInterno",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "true",
        "broker": "a174e7c.25c4118",
        "x": 500,
        "y": 680,
        "wires": []
    },
    {
        "id": "2bb4ceec.19e6c2",
        "type": "mqtt out",
        "z": "e55125f4.810118",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "a174e7c.25c4118",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "8c25327e.ab6c9",
        "type": "inject",
        "z": "e55125f4.810118",
        "name": "Atualizar Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "2bb4ceec.19e6c2"
            ]
        ]
    },
    {
        "id": "7f5193b2.0127fc",
        "type": "mqtt in",
        "z": "e55125f4.810118",
        "name": "recebeTemperaturaDoDispositivo",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "a174e7c.25c4118",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "b6b16a13.984f78"
            ]
        ]
    },
    {
        "id": "a85e04b6.ad5ba8",
        "type": "mqtt in",
        "z": "e55125f4.810118",
        "name": "recebeUmidadeDoDispositivo",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "a174e7c.25c4118",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "4531699d.8563a8"
            ]
        ]
    },
    {
        "id": "4f541963.8d3dc8",
        "type": "comment",
        "z": "6fe5a682.06fbe8",
        "name": "broker-local",
        "info": "Instancia o broker para n dispositivos, conforme portas MQTT e WS configuradas no sensor reponsável pela coleta e envio de dados.",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "18da1da4.9d2c52",
        "type": "comment",
        "z": "5882d3ef.c1d02c",
        "name": "Descrição do flow",
        "info": "para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "a4960d3a.0bc32",
        "type": "comment",
        "z": "47cb9669.aaba48",
        "name": "armazenamento de dados",
        "info": "flow subscreve tópicos dos dispositivos e armazena dados em arquivo localmente, onde o broker estiver sendo executado.",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "ddc4b9c0.c43538",
        "type": "comment",
        "z": "b5491f04.a79a7",
        "name": "Descrição do flow",
        "info": "para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "2f92590d.cfd086",
        "type": "comment",
        "z": "520c4980.3dda68",
        "name": "Descrição do flow",
        "info": "para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "49dfd355.ff5f7c",
        "type": "comment",
        "z": "67f25d02.06ff34",
        "name": "Descrição do flow",
        "info": "para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "5a6dc5bf.5bf26c",
        "type": "comment",
        "z": "e55125f4.810118",
        "name": "Descrição do flow",
        "info": "para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "4efbef83.10995",
        "type": "comment",
        "z": "62c928af.0b8338",
        "name": "informações de data e hora",
        "info": "exibe informações de data e hora no dashboard em cada aba.",
        "x": 210,
        "y": 60,
        "wires": []
    }
]