node-red-flow/flow-004.json
[
    {
        "id": "b2ed96cd.f34328",
        "type": "tab",
        "label": "LMM-TU-004",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dba753a5.d638f",
        "type": "debug",
        "z": "b2ed96cd.f34328",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "56a69409.f1180c",
        "type": "ui_gauge",
        "z": "b2ed96cd.f34328",
        "name": "humidityDashboard",
        "group": "ae3f5808.2013a8",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "45602d97.b437e4",
        "type": "debug",
        "z": "b2ed96cd.f34328",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "a45bbd6b.742b6",
        "type": "json",
        "z": "b2ed96cd.f34328",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "56a69409.f1180c",
                "45602d97.b437e4",
                "b07ed76.c7ace28",
                "6b7c8bc4.6895b4"
            ]
        ]
    },
    {
        "id": "4f138980.b01c28",
        "type": "json",
        "z": "b2ed96cd.f34328",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "e923cc04.edf77",
                "dba753a5.d638f",
                "2914b05a.9823f"
            ]
        ]
    },
    {
        "id": "e923cc04.edf77",
        "type": "ui_gauge",
        "z": "b2ed96cd.f34328",
        "name": "temperatureDashboard",
        "group": "ae3f5808.2013a8",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "58cd23fe.a19e1c",
        "type": "debug",
        "z": "b2ed96cd.f34328",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "b07ed76.c7ace28",
        "type": "function",
        "z": "b2ed96cd.f34328",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "58cd23fe.a19e1c"
            ]
        ]
    },
    {
        "id": "248baeef.5e0752",
        "type": "function",
        "z": "b2ed96cd.f34328",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "96136773.a852d8",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "temperatura_maxima",
        "topic": "temperatura/max",
        "qos": "0",
        "datatype": "auto",
        "broker": "75f550b9.dc884",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "1c83c5d1.4fc2ba"
            ]
        ]
    },
    {
        "id": "62a6fba1.1a2fa4",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "temperatura_minima",
        "topic": "temperatura/min",
        "qos": "0",
        "datatype": "auto",
        "broker": "75f550b9.dc884",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "2d5da8a7.c3f5d8"
            ]
        ]
    },
    {
        "id": "1c83c5d1.4fc2ba",
        "type": "json",
        "z": "b2ed96cd.f34328",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "6dc52eb8.c8f12"
            ]
        ]
    },
    {
        "id": "2d5da8a7.c3f5d8",
        "type": "json",
        "z": "b2ed96cd.f34328",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 660,
        "wires": [
            [
                "c79ba30e.3e6ee"
            ]
        ]
    },
    {
        "id": "6dc52eb8.c8f12",
        "type": "ui_text",
        "z": "b2ed96cd.f34328",
        "group": "dd04596c.12dd38",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Máxima",
        "format": "{{msg.payload}}ºC",
        "layout": "row-center",
        "x": 580,
        "y": 600,
        "wires": []
    },
    {
        "id": "c79ba30e.3e6ee",
        "type": "ui_text",
        "z": "b2ed96cd.f34328",
        "group": "dd04596c.12dd38",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mínima",
        "format": "{{msg.payload}}ºC",
        "layout": "row-center",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "ef31588a.efcee8",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "umidade_maxima",
        "topic": "umidade/max",
        "qos": "0",
        "datatype": "auto",
        "broker": "75f550b9.dc884",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "b4f229e1.11dde8"
            ]
        ]
    },
    {
        "id": "aba03b06.6a0998",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "umidade_minima",
        "topic": "umidade/min",
        "qos": "0",
        "datatype": "auto",
        "broker": "75f550b9.dc884",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "1d1f7c05.7da344"
            ]
        ]
    },
    {
        "id": "b4f229e1.11dde8",
        "type": "json",
        "z": "b2ed96cd.f34328",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 720,
        "wires": [
            [
                "e41e629c.02a8b"
            ]
        ]
    },
    {
        "id": "1d1f7c05.7da344",
        "type": "json",
        "z": "b2ed96cd.f34328",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "6e88a52f.a5056c"
            ]
        ]
    },
    {
        "id": "e41e629c.02a8b",
        "type": "ui_text",
        "z": "b2ed96cd.f34328",
        "group": "dd04596c.12dd38",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Máxima",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "6e88a52f.a5056c",
        "type": "ui_text",
        "z": "b2ed96cd.f34328",
        "group": "dd04596c.12dd38",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mínima",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "6b7c8bc4.6895b4",
        "type": "ui_chart",
        "z": "b2ed96cd.f34328",
        "name": "",
        "group": "34bbea41.a680c6",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2914b05a.9823f",
        "type": "ui_chart",
        "z": "b2ed96cd.f34328",
        "name": "",
        "group": "34bbea41.a680c6",
        "order": 2,
        "width": 6,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2292c100.ee414e",
        "type": "ui_button",
        "z": "b2ed96cd.f34328",
        "d": true,
        "name": "",
        "group": "ae3f5808.2013a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 960,
        "wires": [
            [
                "513ab87.a065148"
            ]
        ]
    },
    {
        "id": "fa506b28.d74ce8",
        "type": "ui_button",
        "z": "b2ed96cd.f34328",
        "d": true,
        "name": "",
        "group": "dd04596c.12dd38",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Atualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 220,
        "y": 1020,
        "wires": [
            [
                "e6a58db3.7400a"
            ]
        ]
    },
    {
        "id": "5c64d326.67c35c",
        "type": "mqtt out",
        "z": "b2ed96cd.f34328",
        "name": "",
        "topic": "datatago",
        "qos": "0",
        "retain": "",
        "broker": "75f550b9.dc884",
        "x": 540,
        "y": 840,
        "wires": []
    },
    {
        "id": "9033b315.cfb81",
        "type": "inject",
        "z": "b2ed96cd.f34328",
        "name": "Grava Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 840,
        "wires": [
            [
                "5c64d326.67c35c"
            ]
        ]
    },
    {
        "id": "fc5a1e60.1dd69",
        "type": "inject",
        "z": "b2ed96cd.f34328",
        "name": "Atualiza Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 900,
        "wires": [
            [
                "3a1b6aad.abc836"
            ]
        ]
    },
    {
        "id": "3a1b6aad.abc836",
        "type": "mqtt out",
        "z": "b2ed96cd.f34328",
        "name": "",
        "topic": "datanode",
        "qos": "0",
        "retain": "",
        "broker": "75f550b9.dc884",
        "x": 540,
        "y": 900,
        "wires": []
    },
    {
        "id": "513ab87.a065148",
        "type": "mqtt out",
        "z": "b2ed96cd.f34328",
        "name": "",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "",
        "broker": "75f550b9.dc884",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "e6a58db3.7400a",
        "type": "mqtt out",
        "z": "b2ed96cd.f34328",
        "name": "",
        "topic": "device/maxmin",
        "qos": "0",
        "retain": "",
        "broker": "75f550b9.dc884",
        "x": 560,
        "y": 1020,
        "wires": []
    },
    {
        "id": "80a4bcc6.a5316",
        "type": "comment",
        "z": "b2ed96cd.f34328",
        "name": "subscrib mode of the devices",
        "info": "mqtt subscrib como buffer, começará como erro de recepção, mas logo desencadeará a recepcao normal dos payloads. ",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "3cd2f8b6.6b22c8",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "buffer",
        "broker": "75f550b9.dc884",
        "x": 150,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "1b12454f.adabcb",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "mqtt_humidity_value",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "utf8",
        "broker": "75f550b9.dc884",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "a45bbd6b.742b6"
            ]
        ]
    },
    {
        "id": "36c90422.dc8b6c",
        "type": "mqtt in",
        "z": "b2ed96cd.f34328",
        "name": "mqtt_temperature_value",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "utf8",
        "broker": "75f550b9.dc884",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "4f138980.b01c28"
            ]
        ]
    },
    {
        "id": "ae3f5808.2013a8",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-004",
        "tab": "1731011f.173dbf",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "75f550b9.dc884",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-004",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "4444",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dd04596c.12dd38",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "1731011f.173dbf",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "34bbea41.a680c6",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "1731011f.173dbf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1731011f.173dbf",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-004",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]