node-red-flow/flow.txt
[
    {
        "id": "44ce7882.ac1eb8",
        "type": "tab",
        "label": "LMM-TU-001",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24aa9548.a4326a",
        "type": "tab",
        "label": "LMM-TU-002",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b782816.ce73a8",
        "type": "tab",
        "label": "data e agenda",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59f6b7d8.cf6ef8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Sensores de Umidade e Temperatura LMM",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8b77c681.4fafa8",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d870135.fb1daf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8b77c681.4fafa8",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d579fb8.00cf5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8b77c681.4fafa8",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "973ed76b.ec88a8",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-001",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "b96a5d97.d828f",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "5b7dc12f.ea4",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "aacaa53a.0fc228",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "d68f7c69.2ebb5",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-002",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "e627521d.1565e",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "f86e2ca.de899d",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "cf7a2c9b.848a3",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "9f434f16.9241",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-003",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "442e2b1b.281a14",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-003",
        "tab": "9f434f16.9241",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "adad54da.8d6468",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "9f434f16.9241",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6733d5a4.b0e61c",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "9f434f16.9241",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "87a54273.5fb95",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "9f434f16.9241",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "5272a14d.5ea4d",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-004",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "161ea311.e84b6d",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-005",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "87f6f8a8.1a1a08",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-004",
        "tab": "5272a14d.5ea4d",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "9583298.3eae3d8",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "5272a14d.5ea4d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "766fd9f2.0c3948",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "5272a14d.5ea4d",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "50a9c05f.eb7fb",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "5272a14d.5ea4d",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "d3d73d0f.8880e",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-005",
        "tab": "161ea311.e84b6d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41a1ce71.bcefd",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "161ea311.e84b6d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "adacb280.0663a",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "161ea311.e84b6d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f0395438.7882d8",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "161ea311.e84b6d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1dfc8e23.8f9bc2",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13d76cd4.df8ff3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1dfc8e23.8f9bc2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d528c94e.3a6b88",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1dfc8e23.8f9bc2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2198024.f4d79",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e9fc79dd.b069b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d2198024.f4d79",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ef92cea.ea9884",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d2198024.f4d79",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "978315d.f0f7be8",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-001 ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78d09a7f.2a7774",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-001",
        "tab": "978315d.f0f7be8",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "5b4069fb.1d5338",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "978315d.f0f7be8",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "12a22d2f.8b3ca3",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "978315d.f0f7be8",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "f895cb62.f6c0b8",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "978315d.f0f7be8",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "cff8b44b.ce5588",
        "type": "ui_tab",
        "z": "",
        "name": "LMM-TU-002",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "92af154b.f234a8",
        "type": "ui_group",
        "z": "",
        "name": "SENSOR_LMM-TU-002",
        "tab": "cff8b44b.ce5588",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "425d983e.d1d1c8",
        "type": "ui_group",
        "z": "",
        "name": "Gráficos",
        "tab": "cff8b44b.ce5588",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "78e03750.acc458",
        "type": "ui_group",
        "z": "",
        "name": "Máximos e Mínimos",
        "tab": "cff8b44b.ce5588",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "7c5cba8e.45b484",
        "type": "ui_group",
        "z": "",
        "name": "Relógio",
        "tab": "cff8b44b.ce5588",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "8370a510.14e478",
        "type": "mqtt-broker",
        "z": "",
        "name": "DEVICE-LMM-TU-002",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "2222",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3b5edb89.aa1894",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-003",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "3333",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f38cf6f.1ea3108",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-004",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "4444",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4fd834f8.2c9c0c",
        "type": "mqtt-broker",
        "z": "",
        "d": true,
        "name": "DEVICE-LMM-TU-005",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "5555",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "deace95e.2a4878",
        "type": "mqtt-broker",
        "z": "",
        "name": "DEVICE-LMM-TU-001",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "tls": "",
        "clientid": "1111",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "434c3408.1693bc",
        "type": "debug",
        "z": "44ce7882.ac1eb8",
        "name": "temperatureConsole",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "a9523f4b.e3218",
        "type": "ui_gauge",
        "z": "44ce7882.ac1eb8",
        "name": "humidityDashboard",
        "group": "78d09a7f.2a7774",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "13ce75f4.8c48ba",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "mqtt_humidity_value",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "utf8",
        "broker": "deace95e.2a4878",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "49edf80e.4d7758"
            ]
        ]
    },
    {
        "id": "7bffd783.4b8108",
        "type": "debug",
        "z": "44ce7882.ac1eb8",
        "name": "humidityConsole",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "34d9baba.9b7fd6",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "mqtt_temperature_value",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "utf8",
        "broker": "deace95e.2a4878",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "50afd25b.e6acec"
            ]
        ]
    },
    {
        "id": "49edf80e.4d7758",
        "type": "json",
        "z": "44ce7882.ac1eb8",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "a9523f4b.e3218",
                "7bffd783.4b8108",
                "373c7abf.f624b6",
                "41971621.0d9178"
            ]
        ]
    },
    {
        "id": "50afd25b.e6acec",
        "type": "json",
        "z": "44ce7882.ac1eb8",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "59f9f882.1dc2c8",
                "434c3408.1693bc",
                "69b855ff.2189ec"
            ]
        ]
    },
    {
        "id": "59f9f882.1dc2c8",
        "type": "ui_gauge",
        "z": "44ce7882.ac1eb8",
        "name": "temperatureDashboard",
        "group": "78d09a7f.2a7774",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "550d38b9.612078",
        "type": "function",
        "z": "6b782816.ce73a8",
        "name": "formatDate",
        "func": "/*\nvar today=new Date().format('d-m-Y h:i:s');\n//var date = today.getFullYear()+'/'+today.getMonth()+'/'+today.getUTCDate()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes();\nvar date = today.getUTCDate()+'/'+today.getUTCMonth()+'/'+today.getFullYear()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes()+':'+today.getUTCSeconds();\nmsg.payload=date\nreturn msg;\n*/\n\n\nvar d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \nweekday: \"long\",\nday: '2-digit',\n//year:'numeric',\nmonth: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n\n};\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\nmsg.payload = _resultDate.replace(',','');\nreturn msg;\n\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\").replace(\"T\", \" \");\nreturn msg;\n*/\n\n/*\nmsg.payload = new Date (msg.payload).toString(16); \nreturn msg;\n*/\n\n//var now = new Date().toLocaleString();\n//return {payload: now};\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\");\nreturn msg;\n*/\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "f595ef1c.2d166",
                "368015dc.01d64a",
                "25f8c8ff.1d8668"
            ]
        ]
    },
    {
        "id": "2e89bc45.cc6a64",
        "type": "inject",
        "z": "6b782816.ce73a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "550d38b9.612078",
                "bcf33500.106c38",
                "35209e09.98bb12"
            ]
        ]
    },
    {
        "id": "f595ef1c.2d166",
        "type": "debug",
        "z": "6b782816.ce73a8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "368015dc.01d64a",
        "type": "ui_text",
        "z": "6b782816.ce73a8",
        "group": "5b4069fb.1d5338",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "bcf33500.106c38",
        "type": "ui_date_picker",
        "z": "6b782816.ce73a8",
        "name": "calendarDashboard",
        "label": "date",
        "group": "5b4069fb.1d5338",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d459cabc.810348",
        "type": "debug",
        "z": "44ce7882.ac1eb8",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "373c7abf.f624b6",
        "type": "function",
        "z": "44ce7882.ac1eb8",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "d459cabc.810348"
            ]
        ]
    },
    {
        "id": "15373fed.90c56",
        "type": "function",
        "z": "44ce7882.ac1eb8",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fe83e9b9.12f7e8",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "temperatura_maxima",
        "topic": "temperatura/max",
        "qos": "0",
        "datatype": "auto",
        "broker": "deace95e.2a4878",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "8a448412.db75b8"
            ]
        ]
    },
    {
        "id": "7df5f12d.04af4",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "temperatura_minima",
        "topic": "temperatura/min",
        "qos": "0",
        "datatype": "auto",
        "broker": "deace95e.2a4878",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "957420c5.f4e7e"
            ]
        ]
    },
    {
        "id": "8a448412.db75b8",
        "type": "json",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "6b9e86e9.f0bc78"
            ]
        ]
    },
    {
        "id": "957420c5.f4e7e",
        "type": "json",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 520,
        "wires": [
            [
                "9b115acc.5bf5b8"
            ]
        ]
    },
    {
        "id": "6b9e86e9.f0bc78",
        "type": "ui_text",
        "z": "44ce7882.ac1eb8",
        "group": "12a22d2f.8b3ca3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Máxima",
        "format": "{{msg.payload}}ºC",
        "layout": "row-center",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "9b115acc.5bf5b8",
        "type": "ui_text",
        "z": "44ce7882.ac1eb8",
        "group": "12a22d2f.8b3ca3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mínima",
        "format": "{{msg.payload}}ºC",
        "layout": "row-center",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "fc3b1ff.8867be",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "umidade_maxima",
        "topic": "umidade/max",
        "qos": "0",
        "datatype": "auto",
        "broker": "deace95e.2a4878",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "4c4fa709.a8f948"
            ]
        ]
    },
    {
        "id": "c7f6d6a6.80f918",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "umidade_minima",
        "topic": "umidade/min",
        "qos": "0",
        "datatype": "auto",
        "broker": "deace95e.2a4878",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "2c4c8b50.bf31c4"
            ]
        ]
    },
    {
        "id": "4c4fa709.a8f948",
        "type": "json",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "e8990511.4b99a8"
            ]
        ]
    },
    {
        "id": "2c4c8b50.bf31c4",
        "type": "json",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "6a14695e.18f638"
            ]
        ]
    },
    {
        "id": "e8990511.4b99a8",
        "type": "ui_text",
        "z": "44ce7882.ac1eb8",
        "group": "12a22d2f.8b3ca3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Máxima",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "6a14695e.18f638",
        "type": "ui_text",
        "z": "44ce7882.ac1eb8",
        "group": "12a22d2f.8b3ca3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mínima",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "8c0fb81d.791a58",
        "type": "mqtt out",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "topic": "datatago",
        "qos": "0",
        "retain": "",
        "broker": "deace95e.2a4878",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "b5685ea7.32913",
        "type": "inject",
        "z": "44ce7882.ac1eb8",
        "name": "Grava Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "8c0fb81d.791a58"
            ]
        ]
    },
    {
        "id": "8b98d166.72bdb",
        "type": "mqtt out",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "",
        "broker": "deace95e.2a4878",
        "x": 510,
        "y": 880,
        "wires": []
    },
    {
        "id": "968a3b51.5ecd58",
        "type": "ui_button",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "group": "78d09a7f.2a7774",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "8b98d166.72bdb"
            ]
        ]
    },
    {
        "id": "9b74850d.314e98",
        "type": "mqtt out",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "topic": "datanode",
        "qos": "0",
        "retain": "",
        "broker": "deace95e.2a4878",
        "x": 500,
        "y": 820,
        "wires": []
    },
    {
        "id": "86da0316.c29d2",
        "type": "inject",
        "z": "44ce7882.ac1eb8",
        "name": "Atualiza Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 820,
        "wires": [
            [
                "9b74850d.314e98"
            ]
        ]
    },
    {
        "id": "d76aa995.b0d848",
        "type": "ui_button",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "group": "12a22d2f.8b3ca3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Atualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "65cda99c.310e88"
            ]
        ]
    },
    {
        "id": "41971621.0d9178",
        "type": "ui_chart",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "group": "f895cb62.f6c0b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "69b855ff.2189ec",
        "type": "ui_chart",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "group": "f895cb62.f6c0b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4b96dcc8.277f44",
        "type": "debug",
        "z": "24aa9548.a4326a",
        "name": "temperatureConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "629e6681.ff5f08",
        "type": "ui_gauge",
        "z": "24aa9548.a4326a",
        "name": "humidityDashboard",
        "group": "92af154b.f234a8",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "a48d211b.66926",
        "type": "debug",
        "z": "24aa9548.a4326a",
        "name": "humidityConsole",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "6fdc1f54.2e9bb",
        "type": "json",
        "z": "24aa9548.a4326a",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "629e6681.ff5f08",
                "2e2f821d.9bc9ee",
                "11de7f55.223c01",
                "a48d211b.66926"
            ]
        ]
    },
    {
        "id": "ae2b52cb.45e71",
        "type": "json",
        "z": "24aa9548.a4326a",
        "name": "formatSubscribToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "b1ee796.c876c88",
                "4b96dcc8.277f44",
                "980a0e1c.f9393"
            ]
        ]
    },
    {
        "id": "b1ee796.c876c88",
        "type": "ui_gauge",
        "z": "24aa9548.a4326a",
        "name": "temperatureDashboard",
        "group": "92af154b.f234a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00ffff",
            "#ffff80",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "2b55891d.958826",
        "type": "debug",
        "z": "24aa9548.a4326a",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "2e2f821d.9bc9ee",
        "type": "function",
        "z": "24aa9548.a4326a",
        "d": true,
        "name": "formaterPayloadToString",
        "func": "\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "2b55891d.958826"
            ]
        ]
    },
    {
        "id": "ca661c34.3e25c",
        "type": "function",
        "z": "24aa9548.a4326a",
        "d": true,
        "name": "formaterPayloadToSend",
        "func": "msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5bd64f47.849d5",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "temperatura_maxima",
        "topic": "temperatura/max",
        "qos": "0",
        "datatype": "auto",
        "broker": "8370a510.14e478",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "8fd8f1fc.8c356"
            ]
        ]
    },
    {
        "id": "2a008178.37350e",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "temperatura_minima",
        "topic": "temperatura/min",
        "qos": "0",
        "datatype": "auto",
        "broker": "8370a510.14e478",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "f89bb0ba.8e8a4"
            ]
        ]
    },
    {
        "id": "8fd8f1fc.8c356",
        "type": "json",
        "z": "24aa9548.a4326a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "d943af5c.28675"
            ]
        ]
    },
    {
        "id": "f89bb0ba.8e8a4",
        "type": "json",
        "z": "24aa9548.a4326a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "6dc1b298.c5b98c"
            ]
        ]
    },
    {
        "id": "d943af5c.28675",
        "type": "ui_text",
        "z": "24aa9548.a4326a",
        "group": "78e03750.acc458",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Máxima",
        "format": "{{msg.payload}}ºC",
        "layout": "row-center",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "6dc1b298.c5b98c",
        "type": "ui_text",
        "z": "24aa9548.a4326a",
        "group": "78e03750.acc458",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mínima",
        "format": "{{msg.payload}}ºC",
        "layout": "row-center",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "8eee7e75.49855",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "umidade_maxima",
        "topic": "umidade/max",
        "qos": "0",
        "datatype": "auto",
        "broker": "8370a510.14e478",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "6f59a8ff.81a2d8"
            ]
        ]
    },
    {
        "id": "9ecfa0fc.216ba",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "umidade_minima",
        "topic": "umidade/min",
        "qos": "0",
        "datatype": "auto",
        "broker": "8370a510.14e478",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "5db1d358.f1953c"
            ]
        ]
    },
    {
        "id": "6f59a8ff.81a2d8",
        "type": "json",
        "z": "24aa9548.a4326a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "3c58b41e.2554fc"
            ]
        ]
    },
    {
        "id": "5db1d358.f1953c",
        "type": "json",
        "z": "24aa9548.a4326a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "879c9bcd.63fc48"
            ]
        ]
    },
    {
        "id": "3c58b41e.2554fc",
        "type": "ui_text",
        "z": "24aa9548.a4326a",
        "group": "78e03750.acc458",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Máxima",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "879c9bcd.63fc48",
        "type": "ui_text",
        "z": "24aa9548.a4326a",
        "group": "78e03750.acc458",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mínima",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "11de7f55.223c01",
        "type": "ui_chart",
        "z": "24aa9548.a4326a",
        "name": "",
        "group": "425d983e.d1d1c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#5ed29b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "980a0e1c.f9393",
        "type": "ui_chart",
        "z": "24aa9548.a4326a",
        "name": "",
        "group": "425d983e.d1d1c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#e7bb61",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4e67f990.193018",
        "type": "ui_button",
        "z": "24aa9548.a4326a",
        "name": "",
        "group": "92af154b.f234a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "testar led da placa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ligar",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "83496969.a611e8"
            ]
        ]
    },
    {
        "id": "14bea386.91bfbc",
        "type": "ui_button",
        "z": "24aa9548.a4326a",
        "name": "",
        "group": "78e03750.acc458",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Atualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 940,
        "wires": [
            [
                "f8711af2.dc6298"
            ]
        ]
    },
    {
        "id": "25f8c8ff.1d8668",
        "type": "ui_text",
        "z": "6b782816.ce73a8",
        "group": "7c5cba8e.45b484",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "dateDashboard",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "35209e09.98bb12",
        "type": "ui_date_picker",
        "z": "6b782816.ce73a8",
        "name": "calendarDashboard",
        "label": "date",
        "group": "7c5cba8e.45b484",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "topic": "",
        "x": 370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "64a5bae9.972334",
        "type": "function",
        "z": "24aa9548.a4326a",
        "d": true,
        "name": "nodeAjuste",
        "func": "msg.payload = msg.payload + 1.2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "42d4bc27.608b74",
        "type": "function",
        "z": "44ce7882.ac1eb8",
        "d": true,
        "name": "nodeAjuste",
        "func": "msg.payload = msg.payload + 1.2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ead22f99.5ba2c",
        "type": "mqtt in",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "buffer",
        "broker": "deace95e.2a4878",
        "x": 150,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "65cda99c.310e88",
        "type": "mqtt out",
        "z": "44ce7882.ac1eb8",
        "name": "",
        "topic": "device/maxmin",
        "qos": "0",
        "retain": "",
        "broker": "deace95e.2a4878",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "65a4c5d6.1063bc",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "mqtt_humidity_value",
        "topic": "device/umidade",
        "qos": "0",
        "datatype": "utf8",
        "broker": "8370a510.14e478",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "6fdc1f54.2e9bb"
            ]
        ]
    },
    {
        "id": "2513864b.d0c0ca",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "mqtt_temperature_value",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "utf8",
        "broker": "8370a510.14e478",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "ae2b52cb.45e71"
            ]
        ]
    },
    {
        "id": "58078e32.09d46",
        "type": "comment",
        "z": "24aa9548.a4326a",
        "name": "subscrib mode to devices",
        "info": "mqtt subscrib como buffer, começará como erro de recepção, mas logo desencadeará a recepcao normal dos payloads. ",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "f6f83917.e127a8",
        "type": "mqtt in",
        "z": "24aa9548.a4326a",
        "name": "",
        "topic": "device/temperatura",
        "qos": "0",
        "datatype": "buffer",
        "broker": "8370a510.14e478",
        "x": 170,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "95265c78.1e51c",
        "type": "mqtt out",
        "z": "24aa9548.a4326a",
        "name": "",
        "topic": "datatago",
        "qos": "0",
        "retain": "",
        "broker": "8370a510.14e478",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "413c8646.846948",
        "type": "inject",
        "z": "24aa9548.a4326a",
        "name": "Grava Dados na Plataforma",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "95265c78.1e51c"
            ]
        ]
    },
    {
        "id": "358f85c3.f4dc4a",
        "type": "inject",
        "z": "24aa9548.a4326a",
        "name": "Atualiza Dashboard",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "2525aee.c074152"
            ]
        ]
    },
    {
        "id": "2525aee.c074152",
        "type": "mqtt out",
        "z": "24aa9548.a4326a",
        "name": "",
        "topic": "datanode",
        "qos": "0",
        "retain": "",
        "broker": "8370a510.14e478",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "83496969.a611e8",
        "type": "mqtt out",
        "z": "24aa9548.a4326a",
        "name": "",
        "topic": "LEDPLACA",
        "qos": "0",
        "retain": "",
        "broker": "8370a510.14e478",
        "x": 530,
        "y": 880,
        "wires": []
    },
    {
        "id": "f8711af2.dc6298",
        "type": "mqtt out",
        "z": "24aa9548.a4326a",
        "name": "",
        "topic": "device/maxmin",
        "qos": "0",
        "retain": "",
        "broker": "8370a510.14e478",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "c95de765.01f4c8",
        "type": "comment",
        "z": "44ce7882.ac1eb8",
        "name": "subscrib mode to devices",
        "info": "mqtt subscrib como buffer, começará como erro de recepção, mas logo desencadeará a recepcao normal dos payloads. ",
        "x": 150,
        "y": 40,
        "wires": []
    }
]