node-red-flow/broker_local/.local_flows.json.backup
[{"id":"150b12ca.911f8d","type":"tab","label":"store","disabled":false,"info":""},{"id":"7ac41352.08da7c","type":"tab","label":"data e agenda","disabled":false,"info":""},{"id":"47b1b651.b54ea8","type":"tab","label":"BROKER","disabled":true,"info":""},{"id":"7b01688d.6ea4d8","type":"tab","label":"LMM-TU-001","disabled":false,"info":""},{"id":"24181832.2d9938","type":"tab","label":"LMM-TU-002","disabled":false,"info":""},{"id":"8494d9b7.967838","type":"tab","label":"LMM-TU-003","disabled":false,"info":""},{"id":"fdf62cba.f7848","type":"tab","label":"LMM-TU-004","disabled":false,"info":""},{"id":"e7bdd73d.d67f98","type":"tab","label":"LMM-TU-005","disabled":false,"info":""},{"id":"bd1dc94e.ef61d8","type":"tab","label":"calibração","disabled":true,"info":"flow responsável por visualização e aquisição dos dados quando os dispositivos estiverem em calibração"},{"id":"7427685d.9a8f38","type":"tab","label":"alerta","disabled":true,"info":""},{"id":"be6d28ee.f16dc8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sensores de Umidade e Temperatura LMM","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ab39d8c3.3cc118","type":"ui_group","z":"","name":"Relógio","tab":"252f3e54.deb502","order":2,"disp":false,"width":"10","collapse":false},{"id":"5333ba8d.7b4c84","type":"ui_group","z":"","name":"Relógio","tab":"ba437fc2.24cf3","order":2,"disp":false,"width":"7","collapse":false},{"id":"2f9983af.f7a25c","type":"mqtt-broker","z":"","name":"BROKER003","broker":"200.18.107.56","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b12ef59b.58b6c8","type":"mqtt-broker","z":"","name":"BROKER001","broker":"200.18.107.56","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92a71818.8d9b98","type":"mqtt-broker","z":"","name":"BROKER002","broker":"200.18.107.56","port":"1885","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84d973b1.c36a2","type":"mqtt-broker","z":"","name":"BROKER004","broker":"200.18.107.56","port":"1886","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1427caa.5957e","type":"ui_group","z":"","name":"SENSOR_LMM-TU-001","tab":"c6c3aa5e.6c9df8","order":1,"disp":true,"width":9,"collapse":false},{"id":"6daa6c30.f50944","type":"ui_group","z":"","name":"Gráficos","tab":"c6c3aa5e.6c9df8","order":3,"disp":true,"width":10,"collapse":false},{"id":"fdf77ac2.4050e8","type":"ui_group","z":"","name":"SENSOR_LMM-TU-002","tab":"70ad2e70.3d251","order":1,"disp":true,"width":9,"collapse":false},{"id":"ca8ff4b5.dac4a8","type":"ui_group","z":"","name":"Gráficos","tab":"70ad2e70.3d251","order":3,"disp":true,"width":10,"collapse":false},{"id":"9e641b52.9ab938","type":"ui_group","z":"","name":"SENSOR_LMM-TU-003","tab":"7f83e594.5af12c","order":1,"disp":true,"width":9,"collapse":false},{"id":"f9790f5b.2c1cc","type":"ui_group","z":"","name":"Gráficos","tab":"7f83e594.5af12c","order":3,"disp":true,"width":10,"collapse":false},{"id":"56a1ac64.227604","type":"ui_group","z":"","name":"SENSOR_LMM-TU-004","tab":"252f3e54.deb502","order":1,"disp":true,"width":9,"collapse":false},{"id":"a2cc301a.86bd8","type":"ui_group","z":"","name":"Gráficos","tab":"252f3e54.deb502","order":3,"disp":true,"width":10,"collapse":false},{"id":"a4d4b6a1.cdccc8","type":"ui_group","z":"","name":"SENSOR_LMM-TU-005","tab":"ba437fc2.24cf3","order":1,"disp":true,"width":9,"collapse":false},{"id":"686220dd.8ce86","type":"ui_group","z":"","name":"Gráficos","tab":"ba437fc2.24cf3","order":3,"disp":true,"width":10,"collapse":false},{"id":"81b84e9a.9bc4f","type":"mqtt-broker","z":"","name":"BROKER005","broker":"200.18.107.56","port":"1887","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6c3aa5e.6c9df8","type":"ui_tab","z":"","name":"Força - MPM300kN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"70ad2e70.3d251","type":"ui_tab","z":"","name":"Pressão","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7f83e594.5af12c","type":"ui_tab","z":"","name":"Temperatura","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"252f3e54.deb502","type":"ui_tab","z":"","name":"Dimensional","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ba437fc2.24cf3","type":"ui_tab","z":"","name":"LMM-TU-005","icon":"dashboard","order":5,"disabled":true,"hidden":false},{"id":"7053d9df.0f5bc8","type":"ui_group","z":"","name":"","tab":"c6c3aa5e.6c9df8","order":2,"disp":false,"width":"10","collapse":false},{"id":"eda5644f.7da918","type":"ui_group","z":"","name":"Relógio","tab":"70ad2e70.3d251","order":2,"disp":false,"width":"10","collapse":false},{"id":"1ac57b0f.4c4b35","type":"ui_group","z":"","name":"Relógio","tab":"7f83e594.5af12c","order":2,"disp":false,"width":"10","collapse":false},{"id":"4040196f.00bb18","type":"ui_group","z":"bd1dc94e.ef61d8","name":"LMM-TU-001","tab":"528d003d.8cc92","order":1,"disp":true,"width":"5","collapse":false},{"id":"e471b57e.0582d8","type":"ui_group","z":"bd1dc94e.ef61d8","name":"LMM-TU-002","tab":"528d003d.8cc92","order":2,"disp":true,"width":"5","collapse":false},{"id":"48de03da.971dcc","type":"ui_group","z":"bd1dc94e.ef61d8","name":"LMM-TU-003","tab":"528d003d.8cc92","order":3,"disp":true,"width":5,"collapse":false},{"id":"d831f43.4c7c208","type":"ui_group","z":"bd1dc94e.ef61d8","name":"LMM-TU-004","tab":"528d003d.8cc92","order":4,"disp":true,"width":5,"collapse":false},{"id":"41619209.37f6dc","type":"ui_group","z":"bd1dc94e.ef61d8","name":"botao de aquisição","tab":"528d003d.8cc92","order":5,"disp":false,"width":"20","collapse":false},{"id":"528d003d.8cc92","type":"ui_tab","z":"bd1dc94e.ef61d8","name":"Calibração de dispositivos","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"a6e8c96a.61bca8","type":"function","z":"7ac41352.08da7c","name":"formatDate","func":"/*\nvar today=new Date().format('d-m-Y h:i:s');\n//var date = today.getFullYear()+'/'+today.getMonth()+'/'+today.getUTCDate()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes();\nvar date = today.getUTCDate()+'/'+today.getUTCMonth()+'/'+today.getFullYear()+\" \"+(today.getUTCHours()-3)+':'+today.getUTCMinutes()+':'+today.getUTCSeconds();\nmsg.payload=date\nreturn msg;\n*/\n\n\nvar d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \nweekday: \"long\",\nday: '2-digit',\n//year:'numeric',\nmonth: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n\n};\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\nmsg.payload = _resultDate.replace(',','');\nreturn msg;\n\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\").replace(\"T\", \" \");\nreturn msg;\n*/\n\n/*\nmsg.payload = new Date (msg.payload).toString(16); \nreturn msg;\n*/\n\n//var now = new Date().toLocaleString();\n//return {payload: now};\n\n/*\nmsg.payload = new Date().toISOString().replace(\"Z\", \"\");\nreturn msg;\n*/\n\n","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["aa5fbd58.5109","851cdf10.8e2ba","ce05cfc2.bf6e3","934e09b1.1b2ba8","b30413dc.ecf24","68965692.502388"]]},{"id":"a74ac0a6.b79d1","type":"inject","z":"7ac41352.08da7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["a6e8c96a.61bca8"]]},{"id":"aa5fbd58.5109","type":"debug","z":"7ac41352.08da7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":280,"wires":[]},{"id":"851cdf10.8e2ba","type":"ui_text","z":"7ac41352.08da7c","group":"7053d9df.0f5bc8","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":60,"wires":[]},{"id":"ce05cfc2.bf6e3","type":"ui_text","z":"7ac41352.08da7c","group":"eda5644f.7da918","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":100,"wires":[]},{"id":"934e09b1.1b2ba8","type":"ui_text","z":"7ac41352.08da7c","group":"1ac57b0f.4c4b35","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":140,"wires":[]},{"id":"b30413dc.ecf24","type":"ui_text","z":"7ac41352.08da7c","group":"ab39d8c3.3cc118","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":180,"wires":[]},{"id":"68965692.502388","type":"ui_text","z":"7ac41352.08da7c","group":"5333ba8d.7b4c84","order":1,"width":0,"height":0,"name":"dateDashboard","label":"","format":"{{msg.payload}}","layout":"col-center","x":660,"y":220,"wires":[]},{"id":"d2bb6212.7fd9b","type":"mosca in","z":"47b1b651.b54ea8","mqtt_port":"1883","mqtt_ws_port":"8080","name":"DISPOSITIVO-001","username":"LMM-TU-001","password":"","dburl":"","x":370,"y":180,"wires":[["49f07be8.703404"]]},{"id":"49f07be8.703404","type":"debug","z":"47b1b651.b54ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":180,"wires":[]},{"id":"26f9537c.3d151c","type":"mosca in","z":"47b1b651.b54ea8","mqtt_port":"1884","mqtt_ws_port":"8081","name":"DISPOSITIVO-003","username":"LMM-TU-003","password":"","dburl":"","x":370,"y":260,"wires":[["523e247b.1c38ac"]]},{"id":"523e247b.1c38ac","type":"debug","z":"47b1b651.b54ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":260,"wires":[]},{"id":"6574e824.01d5b8","type":"mosca in","z":"47b1b651.b54ea8","mqtt_port":"1885","mqtt_ws_port":"8082","name":"DISPOSITIVO-002","username":"LMM-TU-002","password":"","dburl":"","x":370,"y":220,"wires":[["ff7f2d90.6c75b"]]},{"id":"ff7f2d90.6c75b","type":"debug","z":"47b1b651.b54ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":220,"wires":[]},{"id":"b568905f.10c91","type":"mosca in","z":"47b1b651.b54ea8","mqtt_port":"1886","mqtt_ws_port":"8083","name":"DISPOSITIVO-004","username":"LMM-TU-004","password":"","dburl":"","x":370,"y":300,"wires":[["6dd61250.153f2c"]]},{"id":"6dd61250.153f2c","type":"debug","z":"47b1b651.b54ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":300,"wires":[]},{"id":"4620ab3d.f66a24","type":"mqtt in","z":"150b12ca.911f8d","name":"storeDevice002","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":100,"y":180,"wires":[["5ed06a55.0fc664"]]},{"id":"3fcb5029.3c2e1","type":"debug","z":"150b12ca.911f8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":80,"wires":[]},{"id":"8a3defe8.22122","type":"json","z":"150b12ca.911f8d","name":"","property":"payload","action":"","pretty":false,"x":250,"y":380,"wires":[["cacdff30.ce0a3","834c3d14.c8d5a"]]},{"id":"59a209d9.503788","type":"csv","z":"150b12ca.911f8d","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":380,"wires":[["b23b3b2.6d54ec8"]]},{"id":"b23b3b2.6d54ec8","type":"file","z":"150b12ca.911f8d","name":"escreverArquivo","filename":"I:\\LMM\\Area_de_Forca\\Manutencao_e_Melhorias\\monitor-lmm\\LMM-TU-004.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":380,"wires":[["3fcb5029.3c2e1"]]},{"id":"cacdff30.ce0a3","type":"function","z":"150b12ca.911f8d","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["59a209d9.503788"]]},{"id":"be3792ff.f545e","type":"mqtt in","z":"150b12ca.911f8d","name":"storeDevice001","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":100,"y":80,"wires":[["3dd7ec70.7cf574"]]},{"id":"74291002.32662","type":"mqtt in","z":"150b12ca.911f8d","name":"storeDevice004","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":100,"y":380,"wires":[["8a3defe8.22122"]]},{"id":"225447d1.72ec28","type":"mqtt in","z":"150b12ca.911f8d","name":"storeDevice003","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":100,"y":280,"wires":[["6b84ea7c.87a844"]]},{"id":"6b84ea7c.87a844","type":"json","z":"150b12ca.911f8d","name":"","property":"payload","action":"","pretty":false,"x":250,"y":280,"wires":[["d49a42bc.69bb6"]]},{"id":"2af874c7.2702bc","type":"csv","z":"150b12ca.911f8d","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":280,"wires":[["a07d59c2.635238"]]},{"id":"a07d59c2.635238","type":"file","z":"150b12ca.911f8d","name":"escreverArquivo","filename":"I:\\LMM\\Area_de_Forca\\Manutencao_e_Melhorias\\monitor-lmm\\LMM-TU-003.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":280,"wires":[["3fcb5029.3c2e1"]]},{"id":"d49a42bc.69bb6","type":"function","z":"150b12ca.911f8d","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["2af874c7.2702bc"]]},{"id":"5ed06a55.0fc664","type":"json","z":"150b12ca.911f8d","name":"","property":"payload","action":"","pretty":false,"x":250,"y":180,"wires":[["a45e029a.cd3be"]]},{"id":"4732379b.a98248","type":"csv","z":"150b12ca.911f8d","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":180,"wires":[["ae548d6f.bf63f"]]},{"id":"ae548d6f.bf63f","type":"file","z":"150b12ca.911f8d","name":"escreverArquivo","filename":"I:\\LMM\\Area_de_Forca\\Manutencao_e_Melhorias\\monitor-lmm\\LMM-TU-002.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":180,"wires":[["3fcb5029.3c2e1"]]},{"id":"a45e029a.cd3be","type":"function","z":"150b12ca.911f8d","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["4732379b.a98248"]]},{"id":"3dd7ec70.7cf574","type":"json","z":"150b12ca.911f8d","name":"","property":"payload","action":"","pretty":false,"x":270,"y":80,"wires":[["7c22de35.42d0e"]]},{"id":"ad46ba69.f0e9e8","type":"csv","z":"150b12ca.911f8d","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":590,"y":80,"wires":[["cb3b2eb7.89267"]]},{"id":"cb3b2eb7.89267","type":"file","z":"150b12ca.911f8d","name":"escreverArquivo","filename":"I:\\LMM\\Area_de_Forca\\Manutencao_e_Melhorias\\monitor-lmm\\LMM-TU-001.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":80,"wires":[["3fcb5029.3c2e1"]]},{"id":"7c22de35.42d0e","type":"function","z":"150b12ca.911f8d","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["ad46ba69.f0e9e8"]]},{"id":"40dffdf0.4bcdf4","type":"debug","z":"7b01688d.6ea4d8","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":400,"wires":[]},{"id":"d2681d8c.440dc","type":"ui_gauge","z":"7b01688d.6ea4d8","name":"humidityDashboard","group":"f1427caa.5957e","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":770,"y":140,"wires":[]},{"id":"ab33178a.1a1d78","type":"mqtt in","z":"7b01688d.6ea4d8","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":140,"y":140,"wires":[["74bcb99a.acd1b8"]]},{"id":"4ec3e66f.e2dde8","type":"debug","z":"7b01688d.6ea4d8","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":60,"wires":[]},{"id":"f76fc425.471e88","type":"mqtt in","z":"7b01688d.6ea4d8","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":150,"y":340,"wires":[["439ff981.55eb98"]]},{"id":"74bcb99a.acd1b8","type":"json","z":"7b01688d.6ea4d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":140,"wires":[["d2681d8c.440dc","4ec3e66f.e2dde8","c1aa026a.6781b","6b9b0966.8ac818"]]},{"id":"439ff981.55eb98","type":"json","z":"7b01688d.6ea4d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":340,"wires":[["64ebc0a8.2c4ab","40dffdf0.4bcdf4","57bcd0d3.691c7"]]},{"id":"64ebc0a8.2c4ab","type":"ui_gauge","z":"7b01688d.6ea4d8","name":"temperatureDashboard","group":"f1427caa.5957e","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":790,"y":340,"wires":[]},{"id":"90552d6e.b1baa","type":"debug","z":"7b01688d.6ea4d8","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":220,"wires":[]},{"id":"c1aa026a.6781b","type":"function","z":"7b01688d.6ea4d8","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["90552d6e.b1baa"]]},{"id":"fbb46754.9b0cc8","type":"function","z":"7b01688d.6ea4d8","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[[]]},{"id":"6e6c27a.ea8e1d8","type":"mqtt out","z":"7b01688d.6ea4d8","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"b12ef59b.58b6c8","x":580,"y":520,"wires":[]},{"id":"daa97850.1c9e18","type":"inject","z":"7b01688d.6ea4d8","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/30 7-18 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":520,"wires":[["6e6c27a.ea8e1d8"]]},{"id":"7db1eb44.7eccd4","type":"mqtt out","z":"7b01688d.6ea4d8","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"b12ef59b.58b6c8","x":520,"y":640,"wires":[]},{"id":"eb3a4698.59d1b8","type":"ui_button","z":"7b01688d.6ea4d8","d":true,"name":"","group":"f1427caa.5957e","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":270,"y":640,"wires":[["7db1eb44.7eccd4"]]},{"id":"8c27fe35.cc092","type":"mqtt out","z":"7b01688d.6ea4d8","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"b12ef59b.58b6c8","x":560,"y":580,"wires":[]},{"id":"5547aa65.5efb14","type":"inject","z":"7b01688d.6ea4d8","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"23","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":580,"wires":[["8c27fe35.cc092"]]},{"id":"6b9b0966.8ac818","type":"ui_chart","z":"7b01688d.6ea4d8","name":"","group":"6daa6c30.f50944","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":200,"wires":[[]]},{"id":"57bcd0d3.691c7","type":"ui_chart","z":"7b01688d.6ea4d8","name":"","group":"6daa6c30.f50944","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"55eaecd4.446bd4","type":"function","z":"7b01688d.6ea4d8","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[[]]},{"id":"55e8a8b0.274278","type":"comment","z":"7b01688d.6ea4d8","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":220,"y":40,"wires":[]},{"id":"d037b5a0.9babd8","type":"debug","z":"24181832.2d9938","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":440,"wires":[]},{"id":"8f51f815.8dfd88","type":"ui_gauge","z":"24181832.2d9938","name":"humidityDashboard","group":"fdf77ac2.4050e8","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"7a38c24b.43080c","type":"debug","z":"24181832.2d9938","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":100,"wires":[]},{"id":"cd8ea272.02366","type":"json","z":"24181832.2d9938","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":160,"wires":[["8f51f815.8dfd88","329c8696.38047a","2caa358c.2ee16a","7a38c24b.43080c"]]},{"id":"6d0399b5.fe4128","type":"json","z":"24181832.2d9938","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":380,"wires":[["ac557e1a.03d58","d037b5a0.9babd8","eee97433.c18728"]]},{"id":"ac557e1a.03d58","type":"ui_gauge","z":"24181832.2d9938","name":"temperatureDashboard","group":"fdf77ac2.4050e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":790,"y":380,"wires":[]},{"id":"d47c942a.7fa968","type":"debug","z":"24181832.2d9938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":320,"wires":[]},{"id":"329c8696.38047a","type":"function","z":"24181832.2d9938","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["d47c942a.7fa968"]]},{"id":"db9b027b.1b2c7","type":"function","z":"24181832.2d9938","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[[]]},{"id":"2caa358c.2ee16a","type":"ui_chart","z":"24181832.2d9938","name":"","group":"ca8ff4b5.dac4a8","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":220,"wires":[[]]},{"id":"eee97433.c18728","type":"ui_chart","z":"24181832.2d9938","name":"","group":"ca8ff4b5.dac4a8","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":320,"wires":[[]]},{"id":"48025b15.3af504","type":"ui_button","z":"24181832.2d9938","d":true,"name":"","group":"fdf77ac2.4050e8","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":270,"y":680,"wires":[["dc986455.1a75f8"]]},{"id":"d58a24e6.ed2718","type":"function","z":"24181832.2d9938","d":true,"name":"nodeAjuste","func":"msg.payload = msg.payload + 1.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[[]]},{"id":"bd361641.bf1868","type":"mqtt out","z":"24181832.2d9938","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"92a71818.8d9b98","x":580,"y":560,"wires":[]},{"id":"4bd58e47.873b9","type":"inject","z":"24181832.2d9938","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/30 7-18 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["bd361641.bf1868"]]},{"id":"dc986455.1a75f8","type":"mqtt out","z":"24181832.2d9938","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"92a71818.8d9b98","x":520,"y":680,"wires":[]},{"id":"b98c825d.c8bb3","type":"mqtt out","z":"24181832.2d9938","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"92a71818.8d9b98","x":560,"y":620,"wires":[]},{"id":"cef30b58.00cce8","type":"inject","z":"24181832.2d9938","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":620,"wires":[["b98c825d.c8bb3"]]},{"id":"5669ce42.d68fb","type":"mqtt in","z":"24181832.2d9938","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":150,"y":380,"wires":[["6d0399b5.fe4128"]]},{"id":"e2cf40f4.c8c43","type":"mqtt in","z":"24181832.2d9938","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":140,"y":160,"wires":[["cd8ea272.02366","d47c942a.7fa968"]]},{"id":"c050feea.2c036","type":"comment","z":"24181832.2d9938","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":240,"y":60,"wires":[]},{"id":"eb580b93.a3f1d8","type":"debug","z":"8494d9b7.967838","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":440,"wires":[]},{"id":"a21de43.485b218","type":"ui_gauge","z":"8494d9b7.967838","name":"humidityDashboard","group":"9e641b52.9ab938","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":750,"y":140,"wires":[]},{"id":"79afdf32.3344d","type":"debug","z":"8494d9b7.967838","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":80,"wires":[]},{"id":"e8ab2d36.618","type":"json","z":"8494d9b7.967838","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":140,"wires":[["a21de43.485b218","79afdf32.3344d","b947fbff.917b18","8c175e54.dbc31"]]},{"id":"ef5df40.d3d521","type":"json","z":"8494d9b7.967838","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":380,"wires":[["23f2c38c.34928c","eb580b93.a3f1d8","d83bac96.c706"]]},{"id":"23f2c38c.34928c","type":"ui_gauge","z":"8494d9b7.967838","name":"temperatureDashboard","group":"9e641b52.9ab938","order":2,"width":9,"height":6,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":770,"y":380,"wires":[]},{"id":"65107a90.c9d0d4","type":"debug","z":"8494d9b7.967838","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":220,"wires":[]},{"id":"b947fbff.917b18","type":"function","z":"8494d9b7.967838","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["65107a90.c9d0d4"]]},{"id":"1f631b87.4a86b4","type":"function","z":"8494d9b7.967838","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":280,"wires":[[]]},{"id":"8c175e54.dbc31","type":"ui_chart","z":"8494d9b7.967838","name":"","group":"f9790f5b.2c1cc","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"d83bac96.c706","type":"ui_chart","z":"8494d9b7.967838","name":"","group":"f9790f5b.2c1cc","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"4de39834.509e08","type":"ui_button","z":"8494d9b7.967838","d":true,"name":"","group":"9e641b52.9ab938","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":270,"y":680,"wires":[["3e1539fc.243c76"]]},{"id":"7548fbc1.abc234","type":"mqtt out","z":"8494d9b7.967838","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"2f9983af.f7a25c","x":580,"y":560,"wires":[]},{"id":"b6ec8b1c.d8fcb8","type":"inject","z":"8494d9b7.967838","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/30 7-19 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["7548fbc1.abc234"]]},{"id":"3e1539fc.243c76","type":"mqtt out","z":"8494d9b7.967838","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"2f9983af.f7a25c","x":520,"y":680,"wires":[]},{"id":"f0a0e8f0.c19bd8","type":"mqtt out","z":"8494d9b7.967838","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"2f9983af.f7a25c","x":560,"y":620,"wires":[]},{"id":"8dec4687.25f588","type":"inject","z":"8494d9b7.967838","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":620,"wires":[["f0a0e8f0.c19bd8"]]},{"id":"4d30ca61.ab8454","type":"mqtt in","z":"8494d9b7.967838","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":150,"y":380,"wires":[["ef5df40.d3d521"]]},{"id":"7963f974.04c7d8","type":"mqtt in","z":"8494d9b7.967838","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":160,"y":140,"wires":[["e8ab2d36.618"]]},{"id":"5fd5064.56f52f8","type":"comment","z":"8494d9b7.967838","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":220,"y":60,"wires":[]},{"id":"40e88679.ab39b8","type":"debug","z":"fdf62cba.f7848","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":400,"wires":[]},{"id":"7cc36c74.306e74","type":"ui_gauge","z":"fdf62cba.f7848","name":"humidityDashboard","group":"56a1ac64.227604","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":770,"y":100,"wires":[]},{"id":"20be103a.0b0a6","type":"debug","z":"fdf62cba.f7848","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":40,"wires":[]},{"id":"3d570b49.09f7e4","type":"json","z":"fdf62cba.f7848","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":480,"y":100,"wires":[["7cc36c74.306e74","20be103a.0b0a6","ceb1dcec.30c3a","24a6104.0c633f"]]},{"id":"8d82c893.7ba668","type":"json","z":"fdf62cba.f7848","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":480,"y":340,"wires":[["5c2515da.84f77c","40e88679.ab39b8","61c3ee5e.88402"]]},{"id":"5c2515da.84f77c","type":"ui_gauge","z":"fdf62cba.f7848","name":"temperatureDashboard","group":"56a1ac64.227604","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":790,"y":340,"wires":[]},{"id":"e76b2e6d.b1cc9","type":"debug","z":"fdf62cba.f7848","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":180,"wires":[]},{"id":"ceb1dcec.30c3a","type":"function","z":"fdf62cba.f7848","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["e76b2e6d.b1cc9"]]},{"id":"4d7caac9.ff1c74","type":"function","z":"fdf62cba.f7848","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[[]]},{"id":"24a6104.0c633f","type":"ui_chart","z":"fdf62cba.f7848","name":"","group":"a2cc301a.86bd8","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":160,"wires":[[]]},{"id":"61c3ee5e.88402","type":"ui_chart","z":"fdf62cba.f7848","name":"","group":"a2cc301a.86bd8","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"monotone","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"e20a7703.258888","type":"ui_button","z":"fdf62cba.f7848","d":true,"name":"","group":"56a1ac64.227604","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":230,"y":640,"wires":[["18cfd55e.70375b"]]},{"id":"24517d50.0cfa12","type":"mqtt out","z":"fdf62cba.f7848","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"84d973b1.c36a2","x":540,"y":520,"wires":[]},{"id":"925a70a8.6fd91","type":"inject","z":"fdf62cba.f7848","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"*/20 7-19 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":190,"y":520,"wires":[["24517d50.0cfa12"]]},{"id":"18cfd55e.70375b","type":"mqtt out","z":"fdf62cba.f7848","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"84d973b1.c36a2","x":480,"y":640,"wires":[]},{"id":"87736e1c.45a9d","type":"mqtt out","z":"fdf62cba.f7848","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"84d973b1.c36a2","x":520,"y":580,"wires":[]},{"id":"8223fa3b.bbf908","type":"inject","z":"fdf62cba.f7848","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":580,"wires":[["87736e1c.45a9d"]]},{"id":"e4c2c3c3.3fe81","type":"mqtt in","z":"fdf62cba.f7848","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":170,"y":340,"wires":[["8d82c893.7ba668"]]},{"id":"c30b654c.11d488","type":"mqtt in","z":"fdf62cba.f7848","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":180,"y":100,"wires":[["3d570b49.09f7e4"]]},{"id":"8b7745f.f4ca8b8","type":"comment","z":"fdf62cba.f7848","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":180,"y":40,"wires":[]},{"id":"b12746f5.853d28","type":"debug","z":"e7bdd73d.d67f98","name":"temperatureConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":460,"wires":[]},{"id":"98b52642.b1dae8","type":"ui_gauge","z":"e7bdd73d.d67f98","name":"humidityDashboard","group":"a4d4b6a1.cdccc8","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"740abcbb.bd8704","type":"debug","z":"e7bdd73d.d67f98","name":"humidityConsole","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":100,"wires":[]},{"id":"7c679522.348b9c","type":"json","z":"e7bdd73d.d67f98","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":160,"wires":[["98b52642.b1dae8","740abcbb.bd8704","3f270d6d.18a3e2","9d1b9016.c59a8"]]},{"id":"5e8842ae.6c55ec","type":"json","z":"e7bdd73d.d67f98","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":420,"y":400,"wires":[["bb3a6333.f0115","b12746f5.853d28","cf23fbf6.9cd508"]]},{"id":"bb3a6333.f0115","type":"ui_gauge","z":"e7bdd73d.d67f98","name":"temperatureDashboard","group":"a4d4b6a1.cdccc8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":750,"y":400,"wires":[]},{"id":"3236cfaf.d702b","type":"debug","z":"e7bdd73d.d67f98","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":260,"wires":[]},{"id":"3f270d6d.18a3e2","type":"function","z":"e7bdd73d.d67f98","d":true,"name":"formaterPayloadToString","func":"\nvar valor = {\"payload\":msg.payload.value.toString()};\nreturn valor;\n","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["3236cfaf.d702b"]]},{"id":"a90d8d48.8f848","type":"function","z":"e7bdd73d.d67f98","d":true,"name":"formaterPayloadToSend","func":"msg.payload = {\n    \"paylaod\":msg.payload,\n    \"topic\":msg.topic\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[[]]},{"id":"9d1b9016.c59a8","type":"ui_chart","z":"e7bdd73d.d67f98","name":"","group":"686220dd.8ce86","order":1,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5ed29b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":220,"wires":[[]]},{"id":"cf23fbf6.9cd508","type":"ui_chart","z":"e7bdd73d.d67f98","name":"","group":"686220dd.8ce86","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"12","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e7bb61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":340,"wires":[[]]},{"id":"b21ba9c0.95ba68","type":"ui_button","z":"e7bdd73d.d67f98","d":true,"name":"","group":"a4d4b6a1.cdccc8","order":3,"width":0,"height":0,"passthru":false,"label":"testar led da placa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ligar","payloadType":"str","topic":"","x":230,"y":680,"wires":[["b0f22d4c.3eb84"]]},{"id":"b40b6f92.b1fab","type":"mqtt out","z":"e7bdd73d.d67f98","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"81b84e9a.9bc4f","x":560,"y":560,"wires":[]},{"id":"a10e9d4e.9ba1d","type":"inject","z":"e7bdd73d.d67f98","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["b40b6f92.b1fab"]]},{"id":"b0f22d4c.3eb84","type":"mqtt out","z":"e7bdd73d.d67f98","name":"tertarLedInterno","topic":"LEDPLACA","qos":"0","retain":"true","broker":"81b84e9a.9bc4f","x":500,"y":680,"wires":[]},{"id":"dadf0596.6c9b78","type":"mqtt out","z":"e7bdd73d.d67f98","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"81b84e9a.9bc4f","x":540,"y":620,"wires":[]},{"id":"41c36a58.9b2be4","type":"inject","z":"e7bdd73d.d67f98","name":"Atualizar Dashboard","topic":"","payload":"send_data_node","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["dadf0596.6c9b78"]]},{"id":"9b0c1200.8554a","type":"mqtt in","z":"e7bdd73d.d67f98","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"81b84e9a.9bc4f","x":150,"y":400,"wires":[["5e8842ae.6c55ec"]]},{"id":"5dfc150f.08041c","type":"mqtt in","z":"e7bdd73d.d67f98","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"81b84e9a.9bc4f","x":140,"y":160,"wires":[["7c679522.348b9c"]]},{"id":"a47d8ec5.7757b","type":"comment","z":"e7bdd73d.d67f98","name":"Descrição do flow","info":"para cada dispositivo, há um flow com as configurações de dashboard necessárias, bem como, subscrição e publicação de tópicos para o circuito responsável pela coleta e envio de dados. ","x":240,"y":80,"wires":[]},{"id":"88ddf4e3.2f4988","type":"mosca in","z":"47b1b651.b54ea8","mqtt_port":"1887","mqtt_ws_port":"8084","name":"DISPOSITIVO-005","username":"LMM-TU-005","password":"","dburl":"","x":370,"y":340,"wires":[[]]},{"id":"4e12fec6.17122","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":160,"y":100,"wires":[["56ba6321.935a7c"]]},{"id":"56ba6321.935a7c","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":100,"wires":[["45dac3a.e61d83c"]]},{"id":"45dac3a.e61d83c","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"humidityDashboard","group":"4040196f.00bb18","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":100,"wires":[]},{"id":"2f4f7efc.21e1a2","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":150,"y":160,"wires":[["e35fdd90.b6d5c"]]},{"id":"e35fdd90.b6d5c","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":160,"wires":[["f77faa76.e75ea8"]]},{"id":"f77faa76.e75ea8","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"temperatureDashboard","group":"4040196f.00bb18","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"dcbb0f91.5a29a","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":160,"y":220,"wires":[["23dd4011.1003"]]},{"id":"23dd4011.1003","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":220,"wires":[["824614fa.be0368"]]},{"id":"824614fa.be0368","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"humidityDashboard","group":"e471b57e.0582d8","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"708953a2.b425ec","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":150,"y":280,"wires":[["10c2afc5.0a611"]]},{"id":"10c2afc5.0a611","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":280,"wires":[["639d4e08.49673"]]},{"id":"639d4e08.49673","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"temperatureDashboard","group":"e471b57e.0582d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"ed113f3c.b0bd5","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"storeDevice002","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":120,"y":760,"wires":[["a9dab8f7.2f13e8"]]},{"id":"17b4a533.59723b","type":"json","z":"bd1dc94e.ef61d8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":880,"wires":[["6bda0022.b61e6"]]},{"id":"252951bf.f4446e","type":"csv","z":"bd1dc94e.ef61d8","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":880,"wires":[["5fe390db.9d169"]]},{"id":"5fe390db.9d169","type":"file","z":"bd1dc94e.ef61d8","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-004.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":880,"wires":[[]]},{"id":"6bda0022.b61e6","type":"function","z":"bd1dc94e.ef61d8","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":880,"wires":[["252951bf.f4446e"]]},{"id":"6063465.7976fb8","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"storeDevice001","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":120,"y":700,"wires":[["aa562d52.32ae"]]},{"id":"1356ecfe.0285b3","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"storeDevice004","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":120,"y":880,"wires":[["17b4a533.59723b"]]},{"id":"1d879212.90f8ae","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"storeDevice003","topic":"tagodata/store","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":120,"y":820,"wires":[["baee0568.c40bc8"]]},{"id":"baee0568.c40bc8","type":"json","z":"bd1dc94e.ef61d8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":820,"wires":[["dc2db688.5e27a8"]]},{"id":"96abc063.ed5d4","type":"csv","z":"bd1dc94e.ef61d8","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":820,"wires":[["e9b1046.aeeb7f8"]]},{"id":"e9b1046.aeeb7f8","type":"file","z":"bd1dc94e.ef61d8","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-003.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":820,"wires":[[]]},{"id":"dc2db688.5e27a8","type":"function","z":"bd1dc94e.ef61d8","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":820,"wires":[["96abc063.ed5d4"]]},{"id":"a9dab8f7.2f13e8","type":"json","z":"bd1dc94e.ef61d8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":760,"wires":[["f7cb07e3.03b648"]]},{"id":"bdb99590.df88d8","type":"csv","z":"bd1dc94e.ef61d8","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":760,"wires":[["f573a9ce.d9eea8"]]},{"id":"f573a9ce.d9eea8","type":"file","z":"bd1dc94e.ef61d8","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-002.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":760,"wires":[[]]},{"id":"f7cb07e3.03b648","type":"function","z":"bd1dc94e.ef61d8","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["bdb99590.df88d8"]]},{"id":"aa562d52.32ae","type":"json","z":"bd1dc94e.ef61d8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":700,"wires":[["c34369b8.630c88"]]},{"id":"1e10d687.fd94c9","type":"csv","z":"bd1dc94e.ef61d8","name":"","sep":"\\t","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"dispositivo, umidade, temperatura, data/hora","skip":"0","strings":false,"x":610,"y":700,"wires":[["140976b.0b2c989"]]},{"id":"140976b.0b2c989","type":"file","z":"bd1dc94e.ef61d8","name":"escreverArquivo","filename":"/data/data/com.termux/files/home/downloads/calibracao/LMM-TU-001.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":700,"wires":[["d1ffc42a.cce658","ce035fce.221ef"]]},{"id":"c34369b8.630c88","type":"function","z":"bd1dc94e.ef61d8","name":"formatStore","func":"var d = new Date();\nvar options = { \ntimeZone: 'America/Sao_Paulo', \n//weekday: \"long\",\n//day: '2-digit',\n//year:'numeric',\n//month: 'short',\nhour: '2-digit', \nminute: '2-digit',\nsecond: '2-digit',\nhour12:false,\n};\n\nvar _resultDate = d.toLocaleDateString('pt-BR',options);\n//msg.payload = _resultDate.replace(',','');\n\npayload={\"data/hora\":_resultDate,\n\"umidade\":msg.payload.value_humidity,\n\"temperatura\":msg.payload.value_temperature,\n\"dispositivo\":msg.payload.device};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["1e10d687.fd94c9"]]},{"id":"7c161b7c.aef314","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":160,"y":360,"wires":[["32bbd11c.ab3cfe"]]},{"id":"32bbd11c.ab3cfe","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":360,"wires":[["ebae081.1f608f8"]]},{"id":"ebae081.1f608f8","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"humidityDashboard","group":"48de03da.971dcc","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":360,"wires":[]},{"id":"ad5e46e.9ec1fb8","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":150,"y":420,"wires":[["1caf8a32.646a46"]]},{"id":"1caf8a32.646a46","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":420,"wires":[["4e688ab0.d77714"]]},{"id":"4e688ab0.d77714","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"temperatureDashboard","group":"48de03da.971dcc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":420,"wires":[]},{"id":"abc1a7f2.615a58","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeUmidadeDoDispositivo","topic":"device/umidade","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":160,"y":500,"wires":[["2085258b.386f3a"]]},{"id":"2085258b.386f3a","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":500,"wires":[["62c7a3d3.a4005c"]]},{"id":"62c7a3d3.a4005c","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"humidityDashboard","group":"d831f43.4c7c208","order":1,"width":5,"height":4,"gtype":"wave","title":"Umidade","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":500,"wires":[]},{"id":"c33f5503.38a568","type":"mqtt in","z":"bd1dc94e.ef61d8","name":"recebeTemperaturaDoDispositivo","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":150,"y":560,"wires":[["62f21d86.b28514"]]},{"id":"62f21d86.b28514","type":"json","z":"bd1dc94e.ef61d8","name":"formatSubscribToJson","property":"payload","action":"","pretty":false,"x":440,"y":560,"wires":[["e39fcc84.c20a2"]]},{"id":"e39fcc84.c20a2","type":"ui_gauge","z":"bd1dc94e.ef61d8","name":"temperatureDashboard","group":"d831f43.4c7c208","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload}}","min":"0","max":"50","colors":["#00ffff","#ffff80","#ff0000"],"seg1":"","seg2":"","x":710,"y":560,"wires":[]},{"id":"ae12e45f.50d8b8","type":"mqtt out","z":"bd1dc94e.ef61d8","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"b12ef59b.58b6c8","x":700,"y":1000,"wires":[]},{"id":"6edffe47.3700e","type":"inject","z":"bd1dc94e.ef61d8","name":"Gravar Dados na Plataforma","topic":"","payload":"send_data_tago","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1000,"wires":[["ae12e45f.50d8b8","6df9195a.facd58","e38733c1.60237","d6c4dab1.9ea978"]]},{"id":"6df9195a.facd58","type":"mqtt out","z":"bd1dc94e.ef61d8","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"92a71818.8d9b98","x":700,"y":1040,"wires":[]},{"id":"e38733c1.60237","type":"mqtt out","z":"bd1dc94e.ef61d8","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"2f9983af.f7a25c","x":700,"y":1080,"wires":[]},{"id":"d6c4dab1.9ea978","type":"mqtt out","z":"bd1dc94e.ef61d8","name":"gravarDadosAquisitadosNoBroker","topic":"datatago","qos":"0","retain":"true","broker":"84d973b1.c36a2","x":700,"y":1120,"wires":[]},{"id":"dfaef3d5.fa517","type":"ui_button","z":"bd1dc94e.ef61d8","name":"","group":"41619209.37f6dc","order":1,"width":0,"height":0,"passthru":false,"label":"Aquisitar valores","tooltip":"","color":"","bgcolor":"","icon":"","payload":"send_data_tago","payloadType":"str","topic":"","x":210,"y":1120,"wires":[["ae12e45f.50d8b8","6df9195a.facd58","e38733c1.60237","d6c4dab1.9ea978"]]},{"id":"834c3d14.c8d5a","type":"debug","z":"150b12ca.911f8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":480,"wires":[]},{"id":"a2cd53fc.bc998","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":100,"y":400,"wires":[["d8f62455.1177e8"]]},{"id":"d29377e6.518048","type":"change","z":"7427685d.9a8f38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! UMIDADE ACIMA DO ESPECIFICADO","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":380,"wires":[["71c90803.bc5ef8","cadf979b.b8d7a8"]]},{"id":"71c90803.bc5ef8","type":"debug","z":"7427685d.9a8f38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":380,"wires":[]},{"id":"76d747ab.a3fca8","type":"change","z":"7427685d.9a8f38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! UMIDADE ABAIXO DO ESPECIFICADO!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":580,"wires":[["71c90803.bc5ef8","cadf979b.b8d7a8"]]},{"id":"cadf979b.b8d7a8","type":"ui_toast","z":"7427685d.9a8f38","position":"top right","displayTime":"30","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":840,"y":480,"wires":[]},{"id":"249c8f32.0365d","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"payload=\n{\n\"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["d29377e6.518048"]]},{"id":"d014047c.dec3e8","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["76d747ab.a3fca8"]]},{"id":"f63cd405.720d98","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":100,"y":440,"wires":[["2cdb831d.b6765c"]]},{"id":"a869031c.db179","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":100,"y":480,"wires":[["de58e90f.c29ad8"]]},{"id":"f8b7bb4d.cbcee8","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":100,"y":520,"wires":[["7cf29386.f4fb2c"]]},{"id":"6c7fe479.d6690c","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/umidade","qos":"0","datatype":"auto","broker":"81b84e9a.9bc4f","x":100,"y":560,"wires":[["15598f43.8540f1"]]},{"id":"92274c0e.4c8b3","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["d29377e6.518048"]]},{"id":"90ea0cdd.d4cd3","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["76d747ab.a3fca8"]]},{"id":"31896667.56c67a","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["d29377e6.518048"]]},{"id":"2c8feb1c.ad1244","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["76d747ab.a3fca8"]]},{"id":"84ee7534.4cff08","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["d29377e6.518048"]]},{"id":"30faed32.055322","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["76d747ab.a3fca8"]]},{"id":"15598f43.8540f1","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":640,"wires":[["4d1602d2.1dcedc"],["d24b7714.3761e8"]]},{"id":"4d1602d2.1dcedc","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["d29377e6.518048"]]},{"id":"d24b7714.3761e8","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["76d747ab.a3fca8"]]},{"id":"4e9ee7a4.391d08","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"b12ef59b.58b6c8","x":110,"y":840,"wires":[["fe943ac4.8533d8"]]},{"id":"fe943ac4.8533d8","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":760,"wires":[["6e4591f5.931ec"],["f5bae96c.48f158"]]},{"id":"f59e2c8b.33b57","type":"change","z":"7427685d.9a8f38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! TEMPERATURA ACIMA DO ESPECIFICADO","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":820,"wires":[["2e80664b.e66b0a","2de00f75.5ca7f"]]},{"id":"2e80664b.e66b0a","type":"debug","z":"7427685d.9a8f38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":760,"wires":[]},{"id":"b92566c4.bd5d98","type":"change","z":"7427685d.9a8f38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ATENÇÃO! TEMPERATURA ABAIXO DO ESPECIFICADO!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.dispositivo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1020,"wires":[["2e80664b.e66b0a","2de00f75.5ca7f"]]},{"id":"2de00f75.5ca7f","type":"ui_toast","z":"7427685d.9a8f38","position":"top right","displayTime":"30","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":840,"y":920,"wires":[]},{"id":"6e4591f5.931ec","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"payload=\n{\n\"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":740,"wires":[["f59e2c8b.33b57"]]},{"id":"f5bae96c.48f158","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-001\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":780,"wires":[["b92566c4.bd5d98"]]},{"id":"ddd55a8c.770a48","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"92a71818.8d9b98","x":110,"y":880,"wires":[["e31d9c2e.7d64e"]]},{"id":"90e44d71.86f0d","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"2f9983af.f7a25c","x":110,"y":920,"wires":[["f4fe0d9e.36524"]]},{"id":"a5a42dd1.8494f","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":900,"wires":[["f59e2c8b.33b57"]]},{"id":"d15183c8.52a24","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-003\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":940,"wires":[["b92566c4.bd5d98"]]},{"id":"298d14bb.c774bc","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":820,"wires":[["f59e2c8b.33b57"]]},{"id":"6680353d.533c1c","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-002\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":860,"wires":[["b92566c4.bd5d98"]]},{"id":"5e895823.aa3318","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":980,"wires":[["f59e2c8b.33b57"]]},{"id":"a1195932.7f3718","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-004\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1020,"wires":[["b92566c4.bd5d98"]]},{"id":"3c569f88.516c4","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;\n\n/*{\"topic\":\"tagodata/store\",\n\"payload\":\n{\n\"device\":\"LMM-TU-004\",\n\"value_temperature\":23.4,\n\"value_humidity\":72.3\n    \n},\n\"qos\":0,\"retain\":false,\n\"_topic\":\"tagodata/store\",\n\"_msgid\":\"6437a9be.461528\"}\n*/","outputs":1,"noerr":0,"x":440,"y":1060,"wires":[["f59e2c8b.33b57"]]},{"id":"6025d5fb.7495ec","type":"function","z":"7427685d.9a8f38","name":"formatPayload","func":"\n\npayload={\n    \"topic\":msg.topic,\n\"valor\":msg.payload,\n\"dispositivo\":\"Dispositivo LMM-TU-005\"\n    \n};\n\nmsg.payload=payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1100,"wires":[["b92566c4.bd5d98"]]},{"id":"f951354a.4b50e8","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"84d973b1.c36a2","x":110,"y":960,"wires":[["d0f72d8e.5878b"]]},{"id":"257a2fb5.7fd4","type":"mqtt in","z":"7427685d.9a8f38","name":"","topic":"device/temperatura","qos":"0","datatype":"auto","broker":"81b84e9a.9bc4f","x":110,"y":1000,"wires":[["15f64064.e8ee4"]]},{"id":"7cf29386.f4fb2c","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":560,"wires":[["84ee7534.4cff08"],["30faed32.055322"]]},{"id":"de58e90f.c29ad8","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":480,"wires":[["92274c0e.4c8b3"],["90ea0cdd.d4cd3"]]},{"id":"2cdb831d.b6765c","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":400,"wires":[["31896667.56c67a"],["2c8feb1c.ad1244"]]},{"id":"d8f62455.1177e8","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["249c8f32.0365d"],["d014047c.dec3e8"]]},{"id":"e31d9c2e.7d64e","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":840,"wires":[["298d14bb.c774bc"],["6680353d.533c1c"]]},{"id":"f4fe0d9e.36524","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":920,"wires":[["a5a42dd1.8494f"],["d15183c8.52a24"]]},{"id":"d0f72d8e.5878b","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1000,"wires":[["5e895823.aa3318"],["a1195932.7f3718"]]},{"id":"15f64064.e8ee4","type":"switch","z":"7427685d.9a8f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"lt","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1080,"wires":[["3c569f88.516c4"],["6025d5fb.7495ec"]]},{"id":"aa79d8df.473588","type":"inject","z":"24181832.2d9938","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":760,"wires":[["dc986455.1a75f8"]]},{"id":"6ec90da3.1eccd4","type":"inject","z":"7b01688d.6ea4d8","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":700,"wires":[["7db1eb44.7eccd4"]]},{"id":"d1ffc42a.cce658","type":"debug","z":"bd1dc94e.ef61d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":700,"wires":[]},{"id":"f9049e8c.6b0cb","type":"ui_toast","z":"bd1dc94e.ef61d8","position":"top right","displayTime":"15","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":860,"wires":[]},{"id":"ce035fce.221ef","type":"change","z":"bd1dc94e.ef61d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Valores Registrados","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"AQUISIÇÃO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":780,"wires":[["f9049e8c.6b0cb"]]},{"id":"4dc014f6.41dbec","type":"mqtt out","z":"e7bdd73d.d67f98","name":"","topic":"device/umidade","qos":"0","retain":"true","broker":"81b84e9a.9bc4f","x":600,"y":800,"wires":[]},{"id":"6ec825da.a795fc","type":"inject","z":"e7bdd73d.d67f98","name":"","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["d6d20f4e.d6e5c"]]},{"id":"abb3a911.cb5f98","type":"inject","z":"e7bdd73d.d67f98","d":true,"name":"","topic":"","payload":"","payloadType":"str","repeat":"660","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["992d61ee.c9648"]]},{"id":"ade8ead1.782028","type":"mqtt out","z":"e7bdd73d.d67f98","name":"","topic":"device/temperatura","qos":"0","retain":"true","broker":"81b84e9a.9bc4f","x":630,"y":940,"wires":[]},{"id":"8f6ce112.dfd6c","type":"inject","z":"e7bdd73d.d67f98","name":"","topic":"","payload":"","payloadType":"str","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["466fa813.db5328"]]},{"id":"9dd54b7f.04ce68","type":"debug","z":"e7bdd73d.d67f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":860,"wires":[]},{"id":"c7acffaa.630c7","type":"inject","z":"e7bdd73d.d67f98","d":true,"name":"","topic":"","payload":"","payloadType":"str","repeat":"660","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["759a9b1.2ec6464"]]},{"id":"c94afd26.9d7ef","type":"inject","z":"8494d9b7.967838","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":780,"wires":[["3e1539fc.243c76"]]},{"id":"b8ce116c.975b3","type":"inject","z":"fdf62cba.f7848","name":"","topic":"","payload":"ligar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":700,"wires":[["18cfd55e.70375b"]]},{"id":"d6d20f4e.d6e5c","type":"random","z":"e7bdd73d.d67f98","name":"","low":"40","high":"75","inte":"true","property":"payload","x":260,"y":780,"wires":[["4dc014f6.41dbec"]]},{"id":"992d61ee.c9648","type":"random","z":"e7bdd73d.d67f98","name":"","low":"0","high":"100","inte":"true","property":"payload","x":260,"y":820,"wires":[["4dc014f6.41dbec"]]},{"id":"466fa813.db5328","type":"random","z":"e7bdd73d.d67f98","name":"","low":"18","high":"28","inte":"true","property":"payload","x":280,"y":920,"wires":[["9dd54b7f.04ce68","ade8ead1.782028"]]},{"id":"759a9b1.2ec6464","type":"random","z":"e7bdd73d.d67f98","name":"","low":"0","high":"40","inte":"true","property":"payload","x":280,"y":960,"wires":[["ade8ead1.782028"]]}]